Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, tutorial-eboutique

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:

            -   id: minos-microservice-aggregate-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-aggregate check
                name: Check minos-microservice-aggregate
                files: ^packages/core/minos-microservice-aggregate/
                language: system

            -   id: minos-microservice-common-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-common check
                name: Check minos-microservice-common
                files: ^packages/core/minos-microservice-common/
                language: system

            -   id: minos-microservice-cqrs-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-cqrs check
                name: Check minos-microservice-cqrs
                files: ^packages/core/minos-microservice-cqrs/
                language: system

            -   id: minos-microservice-networks-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-networks check
                name: Check minos-microservice-networks
                files: ^packages/core/minos-microservice-networks/
                language: system

            -   id: minos-microservice-saga-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-saga check
                name: Check minos-microservice-saga
                files: ^packages/core/minos-microservice-saga/
                language: system

            -   id: minos-broker-kafka-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-kafka check
                name: Check minos-broker-kafka
                files: ^packages/plugins/minos-broker-kafka/
                language: system

            -   id: tutorial-eboutique
                pass_filenames: false
                entry: make --directory=tutorials/eboutique check
                name: Check tutorial eboutique
                files: ^tutorials/eboutique/
                language: system

ISSUE #332 * Reformat code.
  packages/core/minos-microservice-aggregate/docs/conf.py
Due: minos-microservice-aggregate-check

ISSUE #332 * Minor fixes (4).
  packages/core/minos-microservice-aggregate/docs/conf.py
  packages/core/minos-microservice-aggregate/minos/aggregate/contextvars.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/contextvars.py
Due: minos-microservice-aggregate-check

ISSUE #332 * Minor fixes (5).
  packages/core/minos-microservice-aggregate/docs/conf.py
Due: minos-microservice-aggregate-check

added some doc lines
  packages/plugins/minos-kong/minos/plugins/minos_kong/client.py
Due: none

Fix test
  packages/plugins/minos-kong/tests/Makefile
  packages/plugins/minos-kong/tests/test_minos_discovery/test_client.py
Due: none

Restyled by black
  packages/plugins/minos-kong/minos/plugins/minos_kong/client.py
  packages/plugins/minos-kong/tests/test_minos_discovery/test_client.py
Due: none

Restyled by isort
  packages/plugins/minos-kong/minos/plugins/minos_kong/client.py
  packages/plugins/minos-kong/tests/test_minos_discovery/test_client.py
Due: none

ISSUE #332 * Fully refactor documentation process.
  .gitignore
  Makefile
  README.md
  docs/_static/style.css
  docs/conf.py
  docs/index.md
Due: none

Add tests & Reformat
  packages/plugins/minos-kong/minos/plugins/minos_kong/client.py
  packages/plugins/minos-kong/tests/test_minos_discovery/test_client.py
Due: none

ISSUE #332 * Minor change.
  docs/conf.py
Due: none

ISSUE #346 * Add `PoolFactory` class.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_parameterized.py
Due: minos-microservice-common-check

Add Konga admin interface
  packages/plugins/minos-kong/tests/docker-compose.yml
Due: none

change version
  packages/plugins/minos-kong/HISTORY.md
  packages/plugins/minos-kong/minos/plugins/minos_kong/__init__.py
  packages/plugins/minos-kong/poetry.lock
  packages/plugins/minos-kong/pyproject.toml
Due: none

added poetry lock and modified dependecies
  packages/plugins/minos-kong/poetry.lock
  packages/plugins/minos-kong/pyproject.toml
Due: none

Pass strip_path to kong subscription
  packages/plugins/minos-kong/minos/plugins/minos_kong/client.py
Due: none

ISSUE #346 * Working on `PoolFactory` class.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/pg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/pg.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/minos/common/locks.py
  packages/core/minos-microservice-common/minos/common/pools.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #336 * Minor improvement
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-broker-kafka-check

* Add `Update Guide`.
  packages/core/minos-microservice-common/HISTORY.md
Due: minos-microservice-common-check

* Minor improvement.
  packages/core/minos-microservice-common/HISTORY.md
Due: minos-microservice-common-check

v0.6.1
  packages/core/minos-microservice-common/HISTORY.md
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/pyproject.toml
  packages/plugins/minos-broker-kafka/HISTORY.md
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/__init__.py
  packages/plugins/minos-broker-kafka/pyproject.toml
Due: minos-microservice-common-check, minos-broker-kafka-check

* Do `poetry update`.
  poetry.lock
Due: none

* Unify `SETUP.md`.
  SETUP.md
  packages/core/minos-microservice-common/SETUP.md
  packages/core/minos-microservice-cqrs/SETUP.md
  packages/core/minos-microservice-networks/SETUP.md
  packages/core/minos-microservice-saga/SETUP.md
  packages/plugins/minos-broker-kafka/SETUP.md
  packages/plugins/minos-broker-rabbitmq/SETUP.md
  packages/plugins/minos-discovery-minos/SETUP.md
  packages/plugins/minos-http-aiohttp/SETUP.md
  packages/plugins/minos-router-graphql/SETUP.md
Due: minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check

ISSUE #346 * Improve integration of `LockPool` and `PoolFactory`.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
Due: minos-microservice-aggregate-check

Add konga volume
  packages/plugins/minos-kong/poetry.lock
  packages/plugins/minos-kong/tests/docker-compose.yml
Due: none

Restyled by black
  packages/plugins/minos-kong/minos/plugins/minos_kong/client.py
Due: none

ISSUE #144 * Fix typo.
  packages/plugins/minos-kong/minos/plugins/minos_kong/client.py
Due: none

ISSUE #144 * Move files.
  packages/plugins/minos-discovery-kong/AUTHORS.md
  packages/plugins/minos-discovery-kong/HISTORY.md
  packages/plugins/minos-discovery-kong/LICENSE
  packages/plugins/minos-discovery-kong/Makefile
  packages/plugins/minos-discovery-kong/README.md
  packages/plugins/minos-discovery-kong/RUNTHETESTS.md
  packages/plugins/minos-discovery-kong/SETUP.md
  packages/plugins/minos-discovery-kong/docs/Makefile
  packages/plugins/minos-discovery-kong/docs/_static/style.css
  packages/plugins/minos-discovery-kong/docs/_templates/layout.html
  packages/plugins/minos-discovery-kong/docs/authors.md
  packages/plugins/minos-discovery-kong/docs/conf.py
  packages/plugins/minos-discovery-kong/docs/history.md
  packages/plugins/minos-discovery-kong/docs/index.md
  packages/plugins/minos-discovery-kong/docs/readme.md
  packages/plugins/minos-discovery-kong/docs/runthetests.md
  packages/plugins/minos-discovery-kong/docs/usage.md
  packages/plugins/minos-discovery-kong/minos/plugins/minos_kong/__init__.py
  packages/plugins/minos-discovery-kong/minos/plugins/minos_kong/client.py
  packages/plugins/minos-discovery-kong/minos/plugins/minos_kong/utils.py
  packages/plugins/minos-discovery-kong/poetry.lock
  packages/plugins/minos-discovery-kong/poetry.toml
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-kong/setup.cfg
  packages/plugins/minos-discovery-kong/tests/Makefile
  packages/plugins/minos-discovery-kong/tests/docker-compose.yml
  packages/plugins/minos-discovery-kong/tests/test_minos_discovery/__init__.py
  packages/plugins/minos-discovery-kong/tests/test_minos_discovery/test_client.py
Due: none

ISSUE #144 * Refactor to use the new docs generation strategy.
  .pre-commit-config.yaml
  docs/index.md
  packages/plugins/minos-discovery-kong/Makefile
  packages/plugins/minos-discovery-kong/RUNTHETESTS.md
  packages/plugins/minos-discovery-kong/SETUP.md
  packages/plugins/minos-discovery-kong/docs/Makefile
  packages/plugins/minos-discovery-kong/docs/_static/style.css
  packages/plugins/minos-discovery-kong/docs/_templates/layout.html
  packages/plugins/minos-discovery-kong/docs/authors.md
  packages/plugins/minos-discovery-kong/docs/conf.py
  packages/plugins/minos-discovery-kong/docs/history.md
  packages/plugins/minos-discovery-kong/docs/index.md
  packages/plugins/minos-discovery-kong/docs/readme.md
  packages/plugins/minos-discovery-kong/docs/runthetests.md
  packages/plugins/minos-discovery-kong/docs/usage.md
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/utils.py
  packages/plugins/minos-discovery-kong/poetry.lock
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-kong/tests/test_kong/__init__.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
  poetry.lock
  pyproject.toml
Due: none

modified poetry
  packages/plugins/minos-kong/poetry.lock
  packages/plugins/minos-kong/pyproject.toml
Due: none

* Fix annoying `DeprecationWarning` message.
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_pg.py
Due: minos-microservice-networks-check

ISSUE #346 * Start using `PoolFactory` to get a `BrokerClientPool`.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/resolvers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/pools.py
  packages/core/minos-microservice-saga/minos/saga/executions/commit.py
  packages/core/minos-microservice-saga/minos/saga/manager.py
Due: minos-microservice-aggregate-check, minos-microservice-networks-check, minos-microservice-saga-check

ISSUE #346 * Reformat code.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/locks.py
  packages/core/minos-microservice-saga/minos/saga/executions/commit.py
  packages/core/minos-microservice-saga/minos/saga/manager.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-saga-check

ISSUE #144
  .github/workflows/minos-discovery-kong-publish.yml
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

ISSUE #346 * Integrate `PoolFactory` into `PostgreSqlMinosDatabase`.
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
Due: minos-microservice-common-check

ISSUE #144
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
Due: none

Restyled by black
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
Due: none

ISSUE #346 * Rename `PostgreSqlMinosDatabase` as `DatabaseMixin`.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/pg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/pg.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #346 * Rename `PostgreSqlPool` as `DatabaseClientPool`. * Rename `PostgreSqlLockPool` as `DatabaseLockPool`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_services.py
Due: minos-microservice-common-check, minos-microservice-cqrs-check
