Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, tutorial-eboutique

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:

            -   id: minos-microservice-aggregate-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-aggregate check
                name: Check minos-microservice-aggregate
                files: ^packages/core/minos-microservice-aggregate/
                language: system

            -   id: minos-microservice-common-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-common check
                name: Check minos-microservice-common
                files: ^packages/core/minos-microservice-common/
                language: system

            -   id: minos-microservice-cqrs-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-cqrs check
                name: Check minos-microservice-cqrs
                files: ^packages/core/minos-microservice-cqrs/
                language: system

            -   id: minos-microservice-networks-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-networks check
                name: Check minos-microservice-networks
                files: ^packages/core/minos-microservice-networks/
                language: system

            -   id: minos-microservice-saga-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-saga check
                name: Check minos-microservice-saga
                files: ^packages/core/minos-microservice-saga/
                language: system

            -   id: minos-broker-kafka-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-kafka check
                name: Check minos-broker-kafka
                files: ^packages/plugins/minos-broker-kafka/
                language: system

            -   id: tutorial-eboutique
                pass_filenames: false
                entry: make --directory=tutorials/eboutique check
                name: Check tutorial eboutique
                files: ^tutorials/eboutique/
                language: system

ISSUE #? * Fix typo.
  packages/core/minos-microservice-common/minos/common/setup.py
  packages/core/minos-microservice-networks/minos/networks/utils.py
Due: minos-microservice-common-check, minos-microservice-networks-check

Restyled by isort
  packages/core/minos-microservice-common/tests/test_common/test_injectors.py
  packages/core/minos-microservice-common/tests/test_common/test_setup.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-common-check, minos-microservice-saga-check

ISSUE #209 * Remove `KongDiscoveryClient` and `aiohttp` dependency from `minos.networks`.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/discovery/__init__.py
  packages/core/minos-microservice-networks/minos/networks/discovery/clients/__init__.py
  packages/core/minos-microservice-networks/minos/networks/discovery/clients/abc.py
  packages/core/minos-microservice-networks/minos/networks/discovery/clients/kong.py
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_clients/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_clients/test_kong.py
  packages/plugins/minos-discovery-minos/minos/plugins/minos_discovery/client.py
  packages/plugins/minos-discovery-minos/poetry.lock
  packages/plugins/minos-discovery-minos/pyproject.toml
Due: minos-microservice-networks-check

ISSUE #209 * Move `Port` to `minos.common`. * Fix dependency issues.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/ports.py
  packages/core/minos-microservice-common/tests/test_common/test_ports.py
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/ports.py
  packages/core/minos-microservice-networks/minos/networks/http/ports.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/ports.py
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_handlers/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_ports.py
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/connectors.py
  packages/plugins/minos-http-aiohttp/poetry.lock
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-http-aiohttp/tests/test_aiohttp/test_connectors.py
Due: minos-microservice-common-check, minos-microservice-networks-check

ISSUE #209 * Fix dependency issues (2).
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/plugins/minos-http-aiohttp/poetry.lock
  packages/plugins/minos-http-aiohttp/pyproject.toml
Due: minos-microservice-networks-check

ISSUE #150 * Reformat code. * Fix broken test.
  packages/core/minos-microservice-common/tests/test_common/test_configuration/test_config.py
  packages/core/minos-microservice-common/tests/test_common/test_injectors.py
  packages/core/minos-microservice-common/tests/test_common/test_setup.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-common-check, minos-microservice-saga-check

ISSUE #? * Add missing dependency constraints.
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
  packages/plugins/minos-broker-kafka/poetry.lock
  packages/plugins/minos-broker-kafka/pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-saga-check, minos-broker-kafka-check

ISSUE #209 * Fix dependency constraint bug.
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
Due: minos-microservice-networks-check

ISSUE #150 * Increase coverage. * Minor improvements related with tests.
  packages/core/minos-microservice-common/tests/test_common/test_configuration/test_config.py
Due: minos-microservice-common-check

added notifier
  tutorials/eboutique/docker-compose.yml
  tutorials/eboutique/microservices/notifier/.build_docker_compose.txt
  tutorials/eboutique/microservices/notifier/.dockerignore
  tutorials/eboutique/microservices/notifier/.minos-answers.yml
  tutorials/eboutique/microservices/notifier/.minos-microservice.yaml
  tutorials/eboutique/microservices/notifier/Dockerfile
  tutorials/eboutique/microservices/notifier/README.md
  tutorials/eboutique/microservices/notifier/config.yml
  tutorials/eboutique/microservices/notifier/playbooks/coverage.yaml
  tutorials/eboutique/microservices/notifier/playbooks/create-database.yaml
  tutorials/eboutique/microservices/notifier/playbooks/deploy.yaml
  tutorials/eboutique/microservices/notifier/playbooks/install.yaml
  tutorials/eboutique/microservices/notifier/playbooks/lint.yaml
  tutorials/eboutique/microservices/notifier/playbooks/lock.yaml
  tutorials/eboutique/microservices/notifier/playbooks/reformat.yaml
  tutorials/eboutique/microservices/notifier/playbooks/test.yaml
  tutorials/eboutique/microservices/notifier/playbooks/update.yaml
  tutorials/eboutique/microservices/notifier/poetry.lock
  tutorials/eboutique/microservices/notifier/poetry.toml
  tutorials/eboutique/microservices/notifier/pyproject.toml
  tutorials/eboutique/microservices/notifier/setup.cfg
  tutorials/eboutique/microservices/notifier/src/__init__.py
  tutorials/eboutique/microservices/notifier/src/__main__.py
  tutorials/eboutique/microservices/notifier/src/aggregates.py
  tutorials/eboutique/microservices/notifier/src/cli.py
  tutorials/eboutique/microservices/notifier/src/commands/__init__.py
  tutorials/eboutique/microservices/notifier/src/commands/services.py
  tutorials/eboutique/microservices/notifier/src/queries/__init__.py
  tutorials/eboutique/microservices/notifier/src/queries/models.py
  tutorials/eboutique/microservices/notifier/src/queries/repository.py
  tutorials/eboutique/microservices/notifier/src/queries/services.py
  tutorials/eboutique/microservices/notifier/tests/__init__.py
  tutorials/eboutique/microservices/notifier/tests/test_aggregates.py
  tutorials/eboutique/microservices/notifier/tests/test_commands/__init__.py
  tutorials/eboutique/microservices/notifier/tests/test_commands/test_services.py
  tutorials/eboutique/microservices/notifier/tests/test_queries/__init__.py
  tutorials/eboutique/microservices/notifier/tests/test_queries/test_services.py
  tutorials/eboutique/microservices/notifier/tests/utils.py
Due: tutorial-eboutique

ISSUE #? * Add `is_circuit_breaker_{STATUS}` properties to `CircuitBreakerMixin`.
  packages/core/minos-microservice-common/minos/common/mixins.py
  packages/core/minos-microservice-common/tests/test_common/test_mixins.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
  packages/plugins/minos-discovery-minos/tests/test_minos_discovery/test_client.py
Due: minos-microservice-common-check, minos-broker-kafka-check

ISSUE #149
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/decorators.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_schema.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
Due: none

completed the notifiers
  tutorials/eboutique/microservices/notifier/src/commands/services.py
  tutorials/eboutique/microservices/notifier/src/queries/repository.py
  tutorials/eboutique/microservices/notifier/tests/test_aggregates.py
  tutorials/eboutique/microservices/notifier/tests/test_commands/test_services.py
  tutorials/eboutique/microservices/notifier/tests/test_queries/__init__.py
  tutorials/eboutique/microservices/notifier/tests/test_queries/test_services.py
  tutorials/eboutique/microservices/notifier/tests/utils.py
Due: tutorial-eboutique

Restyled by black
  tutorials/eboutique/microservices/notifier/src/__init__.py
  tutorials/eboutique/microservices/notifier/src/__main__.py
  tutorials/eboutique/microservices/notifier/src/aggregates.py
  tutorials/eboutique/microservices/notifier/src/cli.py
  tutorials/eboutique/microservices/notifier/src/commands/__init__.py
  tutorials/eboutique/microservices/notifier/src/commands/services.py
  tutorials/eboutique/microservices/notifier/src/queries/__init__.py
  tutorials/eboutique/microservices/notifier/src/queries/models.py
  tutorials/eboutique/microservices/notifier/src/queries/services.py
  tutorials/eboutique/microservices/notifier/tests/test_commands/test_services.py
Due: tutorial-eboutique

Restyled by isort
  tutorials/eboutique/microservices/notifier/src/cli.py
  tutorials/eboutique/microservices/notifier/src/commands/services.py
  tutorials/eboutique/microservices/notifier/src/queries/__init__.py
  tutorials/eboutique/microservices/notifier/src/queries/models.py
  tutorials/eboutique/microservices/notifier/src/queries/repository.py
Due: tutorial-eboutique

ISSUE #150 * Add `minos.common.injections` module.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/injections/__init__.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/__init__.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_injectors.py
Due: minos-microservice-common-check

ISSUE #150 * Add `Injectable` decorator.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/configuration/config.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/injections/__init__.py
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-networks/minos/networks/brokers/pools.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-saga/minos/saga/manager.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check, minos-microservice-saga-check

ISSUE #209 * Minor change.
  packages/plugins/minos-http-aiohttp/tests/test_config.yml
Due: none

ISSUE #209 * Minor change (2).
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/connectors.py
Due: none

ISSUE #209 * Minor change (3).
  packages/plugins/minos-http-aiohttp/tests/test_config.yml
Due: none

ISSUE #150 * Simplify modules.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/builders.py
  packages/core/minos-microservice-common/minos/common/config.py
  packages/core/minos-microservice-common/minos/common/configuration/__init__.py
  packages/core/minos-microservice-common/minos/common/injectors.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/minos/common/setup.py
  packages/core/minos-microservice-common/tests/test_common/test_config/__init__.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_with_env.py
Due: minos-microservice-common-check

ISSUE #150 * Remove `MinosConfigAbstract`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/config.py
  packages/core/minos-microservice-common/minos/common/testing.py
Due: minos-microservice-common-check

ISSUE #150 * Reformat code.
  packages/core/minos-microservice-common/minos/common/config.py
Due: minos-microservice-common-check

Restyled by black
  packages/core/minos-microservice-common/minos/common/config.py
Due: minos-microservice-common-check

ISSUE #149
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_schema.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
  packages/plugins/minos-router-graphql/tests/utils.py
Due: none

ISSUE #150 * Fix bugs.
  packages/core/minos-microservice-common/minos/common/config.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
Due: minos-microservice-common-check

ISSUE #149
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
Due: none

working on aggregate for wallet stock options project
  tutorials/stock-wallet/microservices/wallet/poetry.lock
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/commands/services.py
Due: none

ISSUE #150 * Now `injections` must be a `list` of `InjectableMixin` instances.
  packages/core/minos-microservice-common/minos/common/config.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-common/minos/common/launchers.py
Due: minos-microservice-common-check

Restyled by black
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
Due: minos-microservice-common-check

ISSUE #149 * Minor change.
  README.md
Due: none

Apply suggestions from code review
  packages/plugins/minos-router-graphql/minos/plugins/graphql/decorators.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/routers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_schema.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_decorators.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
Due: none

ISSUE #149 * Create `LockPool` base class.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/config.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-common/minos/common/locks.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_injectors.py
  packages/core/minos-microservice-common/tests/utils.py
Due: minos-microservice-common-check

ISSUE #150 * Allow to define the `injections` config variable as a list.
  packages/core/minos-microservice-common/minos/common/config.py
Due: minos-microservice-common-check

ISSUE #209 * Fix broken test.
  packages/core/minos-microservice-common/tests/test_common/test_config/test_base.py
Due: minos-microservice-common-check

ISSUE #209 * Remove warnings.
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/minos/networks/http/adapters.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/minos/networks/routers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_adapters.py
  packages/core/minos-microservice-networks/tests/test_networks/test_routers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_system/test_services.py
Due: minos-microservice-networks-check

ISSUE #149 * Remove warnings. * Set version to `0.0.0`
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/__init__.py
  packages/plugins/minos-router-graphql/pyproject.toml
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_schema.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_routers.py
Due: none

ISSUE #149
  packages/plugins/minos-router-graphql/minos/plugins/graphql/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_schema.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_decorators.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
Due: none

Restyled by black
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
Due: none
