Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, tutorial-eboutique

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

tutorial-eboutique:
  pass_filenames: false
  entry: make --directory=tutorials/eboutique check
  name: Check tutorial eboutique
  language: system

ISSUE #209 * Log exception on `Port` start errors.
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/minos/common/ports.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_decorators.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_injectors.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_ports.py
  packages/core/minos-microservice-common/tests/test_common/test_setup.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_services.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/ports.py
  packages/core/minos-microservice-networks/minos/networks/http/ports.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/ports.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check

- Fixed for new Config version.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/test_config.yml
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
Due: none

- Connect to port specified in config.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_config.yml
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_integration.py
Due: none

ISSUE #150 * Add tests.
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/__init__.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_common.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_mixins.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-broker-kafka-check

ISSUE #150 * Add tests (2).
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_pg.py
Due: minos-microservice-networks-check

Restyled by black
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
Due: none

Restyled by isort
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
Due: none

ISSUE #150 * Add tests for `BrokerPublisherBuilder`.
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_abc.py
Due: minos-microservice-networks-check

ISSUE #150 * Minor change.
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_abc.py
Due: minos-microservice-networks-check

ISSUE #150 * Increase coverage.
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_abc.py
Due: minos-microservice-networks-check

- Fixed issue with empty queues.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_integration.py
Due: none

ISSUE #150 * Add docstring.
  packages/core/minos-microservice-common/minos/common/builders.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_abc.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/common.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
Due: minos-microservice-common-check, minos-microservice-networks-check, minos-broker-kafka-check

Restyled by black
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_integration.py
Due: none

Restyled by isort
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
Due: none

ISSUE #150 * Minor change.
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
Due: minos-microservice-networks-check

ISSUE #150 * Minor change (2).
  packages/core/minos-microservice-common/minos/common/builders.py
Due: minos-microservice-common-check

ISSUE #150 * Minor change.
  packages/core/minos-microservice-common/minos/common/config/abc.py
Due: minos-microservice-common-check

- Added pre-commit config.
  .pre-commit-config.yaml
Due: none

- Fixed lint.
  packages/plugins/minos-broker-rabbitmq/HISTORY.md
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_integration.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
Due: none

ISSUE #150 * Add support for default values.
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
Due: minos-microservice-common-check

ISSUE #150 * Add support for default values with overlapping.
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
Due: minos-microservice-common-check

ISSUE #315
  packages/plugins/minos-router-graphql/README.md
  packages/plugins/minos-router-graphql/minos/plugins/graphql/routers.py
Due: none

ISSUE #315
  packages/plugins/minos-router-graphql/minos/plugins/graphql/routers.py
  packages/plugins/minos-router-graphql/tests/test_config.yml
  packages/plugins/minos-router-graphql/tests/test_graphql/test_routers.py
Due: none

ISSUE #315
  packages/plugins/minos-router-graphql/README.md
Due: none

ISSUE #150 * Prepare config parsing for undefined values. * Set default values on classes.
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/storage/lmdb.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/test_common/test_storage/test_lmdb.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_connectors.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
  packages/plugins/minos-discovery-minos/minos/plugins/minos_discovery/client.py
  packages/plugins/minos-discovery-minos/tests/test_minos_discovery/test_client.py
Due: minos-microservice-common-check, minos-microservice-networks-check, minos-broker-kafka-check

ISSUE #150 * Rename `broker_port` and `broker_host` as `port` and `host`.
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-broker-kafka-check

ISSUE #150 * Now default values are only set on the `PostgreSqlPool`.
  packages/core/minos-microservice-common/minos/common/database/abc.py
Due: minos-microservice-common-check

ISSUE #150 * Fix minor bugs.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
Due: minos-microservice-aggregate-check

ISSUE #87 * Rename `BrokerSubscriberDuplicateDetector` as `BrokerSubscriberDuplicateValidator`. * Rename `IdempotentBrokerSubscriber` as `FilteredBrokerSubscriber`
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/config/v2.yml
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_memory.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_memory.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_pg.py
Due: minos-microservice-common-check, minos-microservice-networks-check

ISSUE #150 * Fix renaming bug.
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_common.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
Due: minos-broker-kafka-check

ISSUE #315
  packages/core/minos-microservice-networks/minos/networks/http/requests.py
Due: minos-microservice-networks-check

ISSUE #306 * Add `CronTab` class.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/periodic.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/__init__.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/crontab.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/schedulers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_schedulers.py
Due: minos-microservice-networks-check

ISSUE #315
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_requests.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/routers.py
Due: minos-microservice-networks-check

Restyled by black
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
Due: none

Restyled by isort
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
Due: none

modified stocks with new library
  tutorials/stock-wallet/front/README.md
  tutorials/stock-wallet/front/Stock Wallet.json
  tutorials/stock-wallet/microservices/stocks/poetry.lock
  tutorials/stock-wallet/microservices/stocks/pyproject.toml
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/stocks/tests/test_aggregates.py
  tutorials/stock-wallet/microservices/stocks/tests/test_commands/test_services.py
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/queries/models.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
Due: none

Restyled by black
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/stocks/tests/test_commands/test_services.py
Due: none

Restyled by isort
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/stocks/tests/test_commands/test_services.py
Due: none

removed unused folders
  .gitignore
Due: none

- Updated to new Builder. - Renamed attributes broker_* to *.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/__init__.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/common.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
Due: none

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  tutorial-eboutique: any of: ^tutorials/eboutique/
