Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, tutorial-eboutique

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

tutorial-eboutique:
  pass_filenames: false
  entry: make --directory=tutorials/eboutique check
  name: Check tutorial eboutique
  language: system

shipping service work in progress
  tutorials/eboutique/external/postgres/init/10-create-database.sql
  tutorials/eboutique/microservices/shipping/Dockerfile
  tutorials/eboutique/microservices/shipping/poetry.lock
  tutorials/eboutique/microservices/shipping/pyproject.toml
  tutorials/eboutique/microservices/shipping/src/aggregates.py
  tutorials/eboutique/microservices/shipping/src/commands/services.py
  tutorials/eboutique/microservices/shipping/tests/test_aggregates.py
  tutorials/eboutique/microservices/shipping/tests/test_commands/test_services.py
  tutorials/eboutique/microservices/shipping/tests/test_queries/__init__.py
  tutorials/eboutique/microservices/shipping/tests/test_queries/test_services.py
Due: tutorial-eboutique

comment improvement
  tutorials/eboutique/microservices/shipping/src/commands/services.py
Due: tutorial-eboutique

ISSUE #209 * Improve `HttpConnector` abstraction.
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_connectors.py
  packages/core/minos-microservice-networks/tests/utils.py
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/connectors.py
  packages/plugins/minos-http-aiohttp/tests/test_aiohttp/test_connectors.py
Due: minos-microservice-networks-check

ISSUE #87 * Add empty files.
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/impl.py
Due: minos-microservice-networks-check

ISSUE #87 * Refactor `minos.networks.Router` to avoid problems related with dependency injections. * Add `start` and `stop` methods to `HttpConnector`.
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/minos/networks/http/ports.py
  packages/core/minos-microservice-networks/minos/networks/routers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_adapters.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_routers.py
Due: minos-microservice-networks-check

ISSUE #87 * Fix broken tests
  packages/plugins/minos-http-aiohttp/tests/test_aiohttp/test_connectors.py
Due: none

- Created.
  packages/plugins/minos-broker-rabbitmq/AUTHORS.md
  packages/plugins/minos-broker-rabbitmq/HISTORY.md
  packages/plugins/minos-broker-rabbitmq/LICENSE
  packages/plugins/minos-broker-rabbitmq/Makefile
  packages/plugins/minos-broker-rabbitmq/README.md
  packages/plugins/minos-broker-rabbitmq/RUNTHETESTS.md
  packages/plugins/minos-broker-rabbitmq/SETUP.md
  packages/plugins/minos-broker-rabbitmq/docs/Makefile
  packages/plugins/minos-broker-rabbitmq/docs/_static/style.css
  packages/plugins/minos-broker-rabbitmq/docs/_templates/layout.html
  packages/plugins/minos-broker-rabbitmq/docs/authors.md
  packages/plugins/minos-broker-rabbitmq/docs/conf.py
  packages/plugins/minos-broker-rabbitmq/docs/history.md
  packages/plugins/minos-broker-rabbitmq/docs/index.md
  packages/plugins/minos-broker-rabbitmq/docs/readme.md
  packages/plugins/minos-broker-rabbitmq/docs/runthetests.md
  packages/plugins/minos-broker-rabbitmq/docs/usage.md
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/__init__.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/poetry.toml
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/setup.cfg
  packages/plugins/minos-broker-rabbitmq/tests/__init__.py
  packages/plugins/minos-broker-rabbitmq/tests/docker-compose.yml
  packages/plugins/minos-broker-rabbitmq/tests/test_config.yml
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/__init__.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/utils.py
  poetry.lock
  pyproject.toml
Due: none

ISSUE #87 * Add class skeletons.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/impl.py
Due: minos-microservice-networks-check

ISSUE #189 * Add `MinosSetup` with a `DeprecationWarning`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/setup.py
  packages/core/minos-microservice-common/tests/test_common/test_setup.py
Due: minos-microservice-common-check

ISSUE #190 * Add `minos.networks.Builder` with a `DeprecationWarning`.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/utils.py
  packages/core/minos-microservice-networks/tests/test_networks/test_utils.py
Due: minos-microservice-networks-check

ISSUE #209 * Use `SetupMixin` instead of `MinosSetup`.
  packages/core/minos-microservice-networks/minos/networks/http/adapters.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/minos/networks/routers.py
Due: minos-microservice-networks-check

ISSUE #87 * Use `SetupMixin` instead of `MinosSetup`.
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/abc.py
Due: minos-microservice-networks-check

ISSUE #149
  packages/plugins/minos-router-graphql/minos/plugins/graphql/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/decorators.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/main.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/routers.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/schema_builder.py
  packages/plugins/minos-router-graphql/tests/services/commands.py
  packages/plugins/minos-router-graphql/tests/services/queries.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_decorators.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_routers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_schema_builder.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_something.py
  packages/plugins/minos-router-graphql/tests/utils.py
Due: none

ISSUE #? * Update `minos-microservice-common` dependencies.
  packages/core/minos-microservice-common/poetry.lock
Due: minos-microservice-common-check

Restyled by black
  tutorials/eboutique/microservices/shipping/src/__init__.py
  tutorials/eboutique/microservices/shipping/src/__main__.py
  tutorials/eboutique/microservices/shipping/src/cli.py
  tutorials/eboutique/microservices/shipping/src/commands/__init__.py
  tutorials/eboutique/microservices/shipping/src/commands/services.py
  tutorials/eboutique/microservices/shipping/src/queries/__init__.py
  tutorials/eboutique/microservices/shipping/src/queries/services.py
  tutorials/eboutique/microservices/shipping/tests/test_commands/test_services.py
Due: tutorial-eboutique

Restyled by isort
  tutorials/eboutique/microservices/shipping/src/cli.py
  tutorials/eboutique/microservices/shipping/src/commands/services.py
Due: tutorial-eboutique

ISSUE #87 * Minor change.
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/impl.py
Due: minos-microservice-networks-check

ISSUE #87 * Add initial implementation of "minos.networks.brokers.subscribers.idempotent" module.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_memory.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_detectors/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_impl.py
Due: minos-microservice-networks-check

ISSUE #87 * Minor change.
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_idempotent/test_impl.py
Due: minos-microservice-networks-check

remvoed files test and corrected the stash exceptions
  tutorials/eboutique/microservices/currency/tests/test_aggregates.py
  tutorials/eboutique/microservices/currency/tests/test_commands/test_services.py
  tutorials/eboutique/microservices/currency/tests/test_queries/__init__.py
  tutorials/eboutique/microservices/currency/tests/test_queries/test_services.py
Due: tutorial-eboutique

Restyled by black
  tutorials/eboutique/microservices/checkout/src/__init__.py
  tutorials/eboutique/microservices/checkout/src/__main__.py
  tutorials/eboutique/microservices/checkout/src/aggregates.py
  tutorials/eboutique/microservices/checkout/src/cli.py
  tutorials/eboutique/microservices/checkout/src/commands/__init__.py
  tutorials/eboutique/microservices/checkout/src/commands/services.py
  tutorials/eboutique/microservices/checkout/src/queries/__init__.py
  tutorials/eboutique/microservices/checkout/src/queries/models.py
  tutorials/eboutique/microservices/checkout/src/queries/repository.py
  tutorials/eboutique/microservices/checkout/src/queries/services.py
  tutorials/eboutique/microservices/checkout/tests/test_aggregates.py
  tutorials/eboutique/microservices/checkout/tests/test_commands/test_services.py
  tutorials/eboutique/microservices/checkout/tests/test_queries/test_services.py
  tutorials/eboutique/microservices/currency/src/__init__.py
  tutorials/eboutique/microservices/currency/src/__main__.py
  tutorials/eboutique/microservices/currency/src/aggregates.py
  tutorials/eboutique/microservices/currency/src/cli.py
  tutorials/eboutique/microservices/currency/src/commands/__init__.py
  tutorials/eboutique/microservices/currency/src/commands/services.py
  tutorials/eboutique/microservices/currency/src/queries/__init__.py
  tutorials/eboutique/microservices/currency/src/queries/services.py
  tutorials/eboutique/microservices/currency/tests/test_aggregates.py
  tutorials/eboutique/microservices/currency/tests/test_commands/test_services.py
  tutorials/eboutique/microservices/currency/tests/test_queries/test_services.py
  tutorials/eboutique/microservices/shipping/src/commands/services.py
  tutorials/eboutique/microservices/shipping/tests/test_commands/test_services.py
  tutorials/stock-wallet/microservices/wallet/src/__init__.py
  tutorials/stock-wallet/microservices/wallet/src/__main__.py
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/cli.py
  tutorials/stock-wallet/microservices/wallet/src/commands/__init__.py
  tutorials/stock-wallet/microservices/wallet/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/queries/__init__.py
  tutorials/stock-wallet/microservices/wallet/src/queries/models.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/src/queries/services.py
  tutorials/stock-wallet/microservices/wallet/tests/test_aggregates.py
  tutorials/stock-wallet/microservices/wallet/tests/test_commands/test_services.py
  tutorials/stock-wallet/microservices/wallet/tests/test_queries/test_services.py
Due: tutorial-eboutique

Restyled by isort
  tutorials/eboutique/microservices/checkout/src/cli.py
  tutorials/eboutique/microservices/checkout/src/queries/__init__.py
  tutorials/eboutique/microservices/checkout/src/queries/models.py
  tutorials/eboutique/microservices/checkout/src/queries/repository.py
  tutorials/eboutique/microservices/currency/src/cli.py
  tutorials/eboutique/microservices/currency/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/cli.py
  tutorials/stock-wallet/microservices/wallet/src/queries/__init__.py
  tutorials/stock-wallet/microservices/wallet/src/queries/models.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
Due: tutorial-eboutique

ISSUE #149
  packages/plugins/minos-router-graphql/minos/plugins/graphql/decorators.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/exceptions.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers/abc.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers/graphiql.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers/graphql.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/main.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/routers.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/schema_builder.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/services.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/star_wars_example/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/star_wars_example/data.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/star_wars_example/schema.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/templates/graphiql.html
  packages/plugins/minos-router-graphql/tests/services/commands.py
  packages/plugins/minos-router-graphql/tests/services/queries.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_decorators.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_routers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_schema_builder.py
  packages/plugins/minos-router-graphql/tests/utils.py
Due: none

ISSUE #149
  packages/plugins/minos-router-graphql/minos/plugins/graphql/schema_builder.py
Due: none

Restyled by black
  packages/plugins/minos-router-graphql/minos/plugins/graphql/schema_builder.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_schema_builder.py
Due: none

Restyled by isort
  packages/plugins/minos-router-graphql/tests/test_graphql/test_routers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_schema_builder.py
Due: none

ISSUE #149
  .github/workflows/minos-router-graphql-publish.yml
  .github/workflows/minos-router-graphql-tests.yml
  packages/plugins/minos-router-graphql/docs/conf.py
Due: none

ISSUE #149
  packages/plugins/minos-router-graphql/minos/plugins/graphql/decorators.py
  packages/plugins/minos-router-graphql/tests/services/commands.py
  packages/plugins/minos-router-graphql/tests/services/queries.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_decorators.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_routers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_schema_builder.py
Due: none

ISSUE #149
  packages/plugins/minos-router-graphql/poetry.lock
  packages/plugins/minos-router-graphql/pyproject.toml
Due: none

ISSUE #149 * Add `pre-commit`.
  .pre-commit-config.yaml
  packages/plugins/minos-router-graphql/.editorconfig
Due: none

ISSUE #149 * Be compatible with `latest` Router API
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/routers.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/schema_builder.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_routers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_schema_builder.py
Due: none

ISSUE #149 * Update docs.
  packages/plugins/minos-router-graphql/docs/_static/style.css
  packages/plugins/minos-router-graphql/docs/_templates/layout.html
  packages/plugins/minos-router-graphql/docs/authors.md
  packages/plugins/minos-router-graphql/docs/conf.py
  packages/plugins/minos-router-graphql/docs/history.md
  packages/plugins/minos-router-graphql/docs/index.md
  packages/plugins/minos-router-graphql/docs/make.bat
  packages/plugins/minos-router-graphql/docs/readme.md
  packages/plugins/minos-router-graphql/docs/runthetests.md
  packages/plugins/minos-router-graphql/docs/usage.md
  packages/plugins/minos-router-graphql/docs/usage.rst
Due: none

ISSUE #149 * Remove `aiohttp` from required dependencies.
  packages/plugins/minos-router-graphql/poetry.lock
  packages/plugins/minos-router-graphql/pyproject.toml
Due: none

ISSUE #209 * Update files.
  README.md
  packages/plugins/minos-http-aiohttp/docs/_static/style.css
  packages/plugins/minos-http-aiohttp/docs/_templates/layout.html
  packages/plugins/minos-http-aiohttp/docs/index.md
Due: none

ISSUE #? * Fix documentation bug.
  packages/plugins/minos-broker-kafka/docs/index.md
  packages/plugins/minos-discovery-minos/docs/index.md
Due: minos-broker-kafka-check

ISSUE #209 * Fix documentation bug (2).
  README.md
Due: none

ISSUE #149 * Fix documentation bug.
  README.md
  packages/plugins/minos-router-graphql/docs/index.md
Due: none

ISSUE #149 * Fix bug related with coverage publishing.
  .github/workflows/minos-router-graphql-tests.yml
Due: none

ISSUE #149 * Add `builders` module.
  packages/plugins/minos-router-graphql/minos/plugins/graphql/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/routers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/__init__.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_schema.py
Due: none

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  tutorial-eboutique: any of: ^tutorials/eboutique/
