Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, tutorial-eboutique

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

tutorial-eboutique:
  pass_filenames: false
  entry: make --directory=tutorials/eboutique check
  name: Check tutorial eboutique
  language: system

ISSUE #306 * Improve `CronTab` class. * Increase coverage.
  packages/core/minos-microservice-networks/minos/networks/scheduling/crontab.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/schedulers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_crontab.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_schedulers.py
Due: minos-microservice-networks-check

- Fixed tests.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/__init__.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
Due: none

- Fixed tests.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/common.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_common.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
Due: none

- Fixed lint.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
Due: none

- Updated pre-commit.
  .pre-commit-config.yaml
Due: none

ISSUE #322 * Extract `serializers` from `minos.common.model` to `minos.common.serializers`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/model/__init__.py
  packages/core/minos-microservice-common/minos/common/model/abc.py
  packages/core/minos-microservice-common/minos/common/model/fields.py
  packages/core/minos-microservice-common/minos/common/serializers/__init__.py
  packages/core/minos-microservice-common/minos/common/serializers/abc.py
  packages/core/minos-microservice-common/minos/common/serializers/avro/__init__.py
  packages/core/minos-microservice-common/minos/common/serializers/avro/data/__init__.py
  packages/core/minos-microservice-common/minos/common/serializers/avro/data/decoder.py
  packages/core/minos-microservice-common/minos/common/serializers/avro/data/encoder.py
  packages/core/minos-microservice-common/minos/common/serializers/avro/schema/__init__.py
  packages/core/minos-microservice-common/minos/common/serializers/avro/schema/constants.py
  packages/core/minos-microservice-common/minos/common/serializers/avro/schema/decoder.py
  packages/core/minos-microservice-common/minos/common/serializers/avro/schema/encoder.py
Due: minos-microservice-common-check

- Added deployment.
  .github/workflows/minos-broker-rabbitmq-publish.yml
Due: none

- Updated workflow with env.
  .github/workflows/minos-broker-rabbitmq-tests.yml
Due: none

ISSUE #315
  packages/plugins/minos-router-graphql/minos/plugins/graphql/decorators.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
Due: none

Restyled by black
  packages/plugins/minos-router-graphql/minos/plugins/graphql/decorators.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
Due: none

Restyled by isort
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
Due: none

ISSUE #315 * Improve logging strategy.
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
Due: none

ISSUE #283 * Minor change.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
Due: none

Restyled by isort
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
Due: none

ISSUE #283 * Reformat code
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
Due: none

ISSUE #283 * Improve `RabbitMQBrokerPublisher` and `RabbitMQBrokerSubscriber`.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_integration.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/utils.py
Due: none

- Basic OpenAPI specs generated and tested. - Switched to OpenAPI 3.0.0.
  packages/core/minos-microservice-networks/minos/networks/specs/openapi.py
  packages/core/minos-microservice-networks/tests/services/commands.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/test_asyncapi.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/test_openapi.py
Due: minos-microservice-networks-check

ISSUE #283 * Improve closing step.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
Due: none

- Deleted unnecessary comments.
  packages/core/minos-microservice-networks/minos/networks/specs/openapi.py
Due: minos-microservice-networks-check

- Renamed contractions. - Deleted unnecessary comments.
  packages/core/minos-microservice-networks/minos/networks/specs/openapi.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/test_openapi.py
Due: minos-microservice-networks-check

- Fixed asyncio test issue.
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/test_asyncapi.py
Due: minos-microservice-networks-check

- Added AsyncAPI test. - 100% coverage.
  packages/core/minos-microservice-networks/tests/services/commands.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/test_asyncapi.py
Due: minos-microservice-networks-check

- Improved names by deleting contractions. - Deleted unnecessary comments.
  packages/core/minos-microservice-networks/minos/networks/specs/asyncapi.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/test_asyncapi.py
Due: minos-microservice-networks-check

ISSUE #283 * Minor improvements.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
Due: none

- Added user and password to config. issue #1283
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/common.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/test_config.yml
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_common.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
Due: none

- Deleted hardcoded default user and password because of SonarCloud.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
Due: none

- Spect tested agains https://apitools.dev/swagger-parser/online/
  packages/core/minos-microservice-networks/minos/networks/specs/openapi.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/test_openapi.py
Due: minos-microservice-networks-check

- AsyncAPi tested agains https://studio.asyncapi.com/
  packages/core/minos-microservice-networks/minos/networks/specs/asyncapi.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/test_asyncapi.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs/test_openapi.py
Due: minos-microservice-networks-check

modified stock-wallet
  tutorials/stock-wallet/docker-compose.yml
  tutorials/stock-wallet/microservices/stocks/src/aggregates.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
Due: none

Restyled by black
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
Due: none

added crypto microservice
  tutorials/stock-wallet/docker-compose.yml
  tutorials/stock-wallet/external/postgres/10-create-database.sql
  tutorials/stock-wallet/microservices/crypto/.dockerignore
  tutorials/stock-wallet/microservices/crypto/.minos-answers.yml
  tutorials/stock-wallet/microservices/crypto/.minos-microservice.yaml
  tutorials/stock-wallet/microservices/crypto/Dockerfile
  tutorials/stock-wallet/microservices/crypto/README.md
  tutorials/stock-wallet/microservices/crypto/config.yml
  tutorials/stock-wallet/microservices/crypto/poetry.lock
  tutorials/stock-wallet/microservices/crypto/poetry.toml
  tutorials/stock-wallet/microservices/crypto/pyproject.toml
  tutorials/stock-wallet/microservices/crypto/setup.cfg
  tutorials/stock-wallet/microservices/crypto/src/__init__.py
  tutorials/stock-wallet/microservices/crypto/src/__main__.py
  tutorials/stock-wallet/microservices/crypto/src/aggregates.py
  tutorials/stock-wallet/microservices/crypto/src/cli.py
  tutorials/stock-wallet/microservices/crypto/src/commands/__init__.py
  tutorials/stock-wallet/microservices/crypto/src/commands/services.py
  tutorials/stock-wallet/microservices/crypto/src/queries/__init__.py
  tutorials/stock-wallet/microservices/crypto/src/queries/models.py
  tutorials/stock-wallet/microservices/crypto/src/queries/repository.py
  tutorials/stock-wallet/microservices/crypto/src/queries/services.py
  tutorials/stock-wallet/microservices/crypto/tests/__init__.py
  tutorials/stock-wallet/microservices/crypto/tests/test_commands/__init__.py
  tutorials/stock-wallet/microservices/crypto/tests/test_commands/test_services.py
  tutorials/stock-wallet/microservices/crypto/tests/test_queries/__init__.py
  tutorials/stock-wallet/microservices/crypto/tests/test_queries/test_services.py
  tutorials/stock-wallet/microservices/crypto/tests/utils.py
  tutorials/stock-wallet/microservices/stocks/src/aggregates.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/src/queries/services.py
Due: none

ISSUE #? * Deprecate `PeriodicTaskSchedulerService`, `BrokerHandlerService` and `RestService`.
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/ports.py
  packages/core/minos-microservice-networks/minos/networks/http/__init__.py
  packages/core/minos-microservice-networks/minos/networks/http/ports.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/__init__.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_handlers/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_ports.py
Due: minos-microservice-common-check, minos-microservice-networks-check

ISSUE #? * Replace "http://minos.run" by "https://minos.run"
  README.md
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-discovery-minos/pyproject.toml
  packages/plugins/minos-router-graphql/pyproject.toml
Due: minos-broker-kafka-check

ISSUE #? * Add `Installation` section to `README.md`.
  packages/plugins/minos-broker-kafka/README.md
  packages/plugins/minos-broker-rabbitmq/README.md
  packages/plugins/minos-discovery-minos/README.md
  packages/plugins/minos-http-aiohttp/README.md
  packages/plugins/minos-router-graphql/README.md
Due: minos-broker-kafka-check

ISSUE #? * Add `minos-broker-rabbitmq` to `README.md`.
  README.md
Due: none

ISSUE #? * Ignore `None` values on dependency injection.
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_parameterized.py
Due: minos-microservice-common-check

* Update QuickStart guide.
  README.md
Due: none

* Set default values for default user and password values.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_integration.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
Due: none

* Raise if message is not being received.
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_integration.py
Due: none

* Improve test.
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_integration.py
Due: none

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  tutorial-eboutique: any of: ^tutorials/eboutique/
