Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, tutorial-eboutique

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

tutorial-eboutique:
  pass_filenames: false
  entry: make --directory=tutorials/eboutique check
  name: Check tutorial eboutique
  language: system

ISSUE #346 * Rename `PostgreSqlLock` as `DatabaseLock`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/locks.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_locks.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
Due: minos-microservice-common-check

ISSUE #144
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

removed lock
  packages/plugins/minos-kong/poetry.lock
Due: none

modified action for kong plugin
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

update the way to install kong package
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

still working on actions for kong plugin
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

modified the container name
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

ISSUE #144
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
Due: none

modified tu buster python the container image
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

still working on th action
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

still the same
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

removed container
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

intent to start the working apt
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

moved checkout
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

reintro of container
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

removed sudo
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

removed lsb-release
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

added buster
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

removed doc generation
  .github/workflows/minos-discovery-kong-tests.yml
Due: none

Restyled by black
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
Due: none

Restyled by isort
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
Due: none

added more coverage
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_utils.py
Due: none

improved coverage
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
Due: none

Restyled by isort
  packages/plugins/minos-discovery-kong/tests/test_kong/test_utils.py
Due: none

Restyled by black
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_utils.py
Due: none

updated the version of minos-discovery-kong
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-discovery-kong/pyproject.toml
Due: none

pre-alpha release
  packages/plugins/minos-discovery-kong/README.md
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-discovery-kong/pyproject.toml
Due: none

ISSUE #346 * Fix bug related with deprecation warning.
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/locks.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
Due: minos-microservice-common-check

ISSUE #346 * Parameterize `default_classes`. * Fix tests from `minos-microservice-saga`.
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_commit.py
  packages/core/minos-microservice-saga/tests/test_saga/test_manager.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-common-check, minos-microservice-saga-check

Restyled by black
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
Due: minos-microservice-common-check

ISSUE #346 * Reformat code.
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
Due: minos-microservice-common-check

ISSUE #346 * Fix broken tests from `minos-broker-kafka`.
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-broker-kafka-check

ISSUE #346 * Fix broken tests from `minos-microservice-cqrs`.
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_services.py
Due: minos-microservice-cqrs-check

ISSUE #346 * Fix broken tests from `minos-microservice-aggregate`.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/resolvers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_resolvers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #346 * Fix broken tests from `minos-microservice-networks`.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_pg.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

Restyled by black
  packages/core/minos-microservice-common/minos/common/testing.py
Due: minos-microservice-common-check

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  tutorial-eboutique: any of: ^tutorials/eboutique/
