Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, tutorial-eboutique

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

tutorial-eboutique:
  pass_filenames: false
  entry: make --directory=tutorials/eboutique check
  name: Check tutorial eboutique
  language: system

ISSUE #149 * Minor change.
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
Due: none

ISSUE #149 * Working on `GraphQlSchemaEncoder`.
  packages/core/minos-microservice-networks/minos/networks/requests/abc.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/type.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/decorators.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_schema.py
Due: minos-microservice-networks-check

ISSUE #150 * Improve `Inject` logic.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_decorators.py
Due: minos-microservice-common-check

ISSUE #150 * Increase coverage. * Add missing docstring.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_decorators.py
Due: minos-microservice-common-check

ISSUE #151 * Update code to follow "Service" structure.
  packages/core/minos-microservice-networks/minos/api_specs/__init__.py
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/specs/__init__.py
  packages/core/minos-microservice-networks/minos/networks/specs/asyncapi.py
  packages/core/minos-microservice-networks/minos/networks/specs/openapi.py
  packages/core/minos-microservice-networks/tests/test_networks/test_specs.py
Due: minos-microservice-networks-check

ISSUE #150 * Ignore duplicate code on tests.
  .sonarcloud.properties
Due: none

ISSUE #150 * Reformat code.
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
Due: none

ISSUE #149 * Add tests for `GraphQlSchemaEncoder`.
  packages/core/minos-microservice-networks/minos/networks/requests/abc.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/type.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_schema.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_type.py
Due: minos-microservice-networks-check

ISSUE #149 * Encode UUID as string
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/type.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_type.py
Due: none

ISSUE #149 * Test type-based schema definition.
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/type.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_schema.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_type.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
  packages/plugins/minos-router-graphql/tests/utils.py
Due: none

ISSUE #149 * Minor improvements.
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/routers.py
Due: none

ISSUE #150 * Create abstraction for config versioning.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/config/__init__.py
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/__init__.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_with_env.py
Due: minos-microservice-common-check

ISSUE #150 * Remove unused imports.
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
Due: minos-microservice-common-check

Restyled by black
  tutorials/stock-wallet/microservices/stocks/src/__init__.py
  tutorials/stock-wallet/microservices/stocks/src/__main__.py
  tutorials/stock-wallet/microservices/stocks/src/aggregates.py
  tutorials/stock-wallet/microservices/stocks/src/cli.py
  tutorials/stock-wallet/microservices/stocks/src/commands/__init__.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/stocks/src/queries/__init__.py
  tutorials/stock-wallet/microservices/stocks/src/queries/models.py
  tutorials/stock-wallet/microservices/stocks/src/queries/repository.py
  tutorials/stock-wallet/microservices/stocks/src/queries/services.py
  tutorials/stock-wallet/microservices/stocks/tests/test_aggregates.py
  tutorials/stock-wallet/microservices/stocks/tests/test_commands/test_services.py
  tutorials/stock-wallet/microservices/stocks/tests/test_queries/test_services.py
  tutorials/stock-wallet/microservices/wallet/src/__init__.py
  tutorials/stock-wallet/microservices/wallet/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/tests/test_queries/test_repositories.py
  tutorials/stock-wallet/microservices/wallet/tests/test_queries/test_services.py
Due: none

Restyled by isort
  tutorials/stock-wallet/microservices/stocks/src/cli.py
  tutorials/stock-wallet/microservices/stocks/src/queries/__init__.py
  tutorials/stock-wallet/microservices/stocks/src/queries/models.py
  tutorials/stock-wallet/microservices/stocks/src/queries/repository.py
  tutorials/stock-wallet/microservices/stocks/src/queries/services.py
  tutorials/stock-wallet/microservices/wallet/src/__init__.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/tests/test_queries/test_repositories.py
  tutorials/stock-wallet/microservices/wallet/tests/test_queries/test_services.py
Due: none

removed playbooks
  tutorials/stock-wallet/front/Stock Wallet.json
  tutorials/stock-wallet/microservices/stocks/playbooks/coverage.yaml
  tutorials/stock-wallet/microservices/stocks/playbooks/create-database.yaml
  tutorials/stock-wallet/microservices/stocks/playbooks/deploy.yaml
  tutorials/stock-wallet/microservices/stocks/playbooks/install.yaml
  tutorials/stock-wallet/microservices/stocks/playbooks/lint.yaml
  tutorials/stock-wallet/microservices/stocks/playbooks/lock.yaml
  tutorials/stock-wallet/microservices/stocks/playbooks/reformat.yaml
  tutorials/stock-wallet/microservices/stocks/playbooks/test.yaml
  tutorials/stock-wallet/microservices/stocks/playbooks/update.yaml
  tutorials/stock-wallet/microservices/stocks/poetry.lock
  tutorials/stock-wallet/microservices/stocks/pyproject.toml
  tutorials/stock-wallet/microservices/stocks/src/aggregates.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/playbooks/coverage.yaml
  tutorials/stock-wallet/microservices/wallet/playbooks/create-database.yaml
  tutorials/stock-wallet/microservices/wallet/playbooks/deploy.yaml
  tutorials/stock-wallet/microservices/wallet/playbooks/install.yaml
  tutorials/stock-wallet/microservices/wallet/playbooks/lint.yaml
  tutorials/stock-wallet/microservices/wallet/playbooks/lock.yaml
  tutorials/stock-wallet/microservices/wallet/playbooks/reformat.yaml
  tutorials/stock-wallet/microservices/wallet/playbooks/test.yaml
  tutorials/stock-wallet/microservices/wallet/playbooks/update.yaml
Due: none

Restyled by black
  tutorials/stock-wallet/microservices/stocks/src/aggregates.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
Due: none

Restyled by isort
  tutorials/stock-wallet/microservices/stocks/src/aggregates.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
Due: none

ISSUE #150 * Working on the `Config` API
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/pg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/api.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/pg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/services.py
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-networks/minos/networks/brokers/clients.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-networks/minos/networks/http/adapters.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/minos/networks/routers.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/schedulers.py
  packages/core/minos-microservice-saga/minos/saga/executions/executors/request.py
  packages/core/minos-microservice-saga/minos/saga/executions/storage.py
  packages/core/minos-microservice-saga/minos/saga/services.py
  packages/core/minos-microservice-saga/minos/saga/utils.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check

ISSUE #150 * Minor change.
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
Due: minos-microservice-networks-check

ISSUE #150 * Add `Config.get_aggregate` method.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/services.py
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #150 * Rename `EntryPointLauncher.services` as `EntryPointLauncher.ports`
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
Due: minos-microservice-common-check

ISSUE #150 * Rename databases.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/pg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/api.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/pg.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #150 * Refactoring `ConfigV1`.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_with_env.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/test_config.yml
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_routers.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/conditional.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_conditional.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_local.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check

ISSUE #150 * Minor change.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
Due: minos-microservice-common-check

ISSUE #150 * Improve relationship between `Config` and `ConfigV1`.
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
Due: minos-microservice-common-check

ISSUE #150 * Fix warning.
  packages/core/minos-microservice-common/tests/test_common/test_pools.py
Due: minos-microservice-common-check

ISSUE #150 * Use `import_module` directly at `Config`.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/services.py
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/importlib.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_with_env.py
  packages/core/minos-microservice-common/tests/test_config.yml
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_connectors.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #150 * Increase `ConfigV1` coverage.
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
Due: minos-microservice-common-check

ISSUE #150 * Increase `Config` coverage.
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
Due: minos-microservice-common-check

ISSUE #150 * Increase coverage up to 100%.
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
Due: minos-microservice-common-check

updated aggregate and models
  tutorials/stock-wallet/microservices/stocks/src/aggregates.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/queries/models.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/src/queries/services.py
Due: none

Restyled by black
  tutorials/stock-wallet/microservices/stocks/src/aggregates.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/queries/models.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/src/queries/services.py
Due: none

Restyled by isort
  tutorials/stock-wallet/microservices/stocks/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/queries/models.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
Due: none

ISSUE #150 * Add docstring.
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
Due: minos-microservice-common-check

ISSUE #150 * Add skeleton of `ConfigV2`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/config/__init__.py
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
Due: minos-microservice-common-check

ISSUE #150 * Add `version`.
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
Due: minos-microservice-common-check

ISSUE #150 * Add version.
  packages/core/minos-microservice-common/minos/common/config/v2.py
Due: minos-microservice-common-check

ISSUE #150 * Replace `_get_database(name)` by `_get_databases()` * Replace `_get_interface(name)` by `_get_interfaces()`
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/pg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/api.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_with_env.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-saga/minos/saga/executions/storage.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  tutorial-eboutique: any of: ^tutorials/eboutique/
