Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, tutorial-eboutique

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

tutorial-eboutique:
  pass_filenames: false
  entry: make --directory=tutorials/eboutique check
  name: Check tutorial eboutique
  language: system

ISSUE #? * Remove eboutique from pre-commit checks.
  .pre-commit-config.yaml
Due: none

ISSUE #148 * Improve package structure.
  .pre-commit-config.yaml
  packages/plugins/minos-rest-aiohttp/.editorconfig
  packages/plugins/minos-rest-aiohttp/README.md
  packages/plugins/minos-rest-aiohttp/docs/Makefile
  packages/plugins/minos-rest-aiohttp/docs/authors.md
  packages/plugins/minos-rest-aiohttp/docs/history.md
  packages/plugins/minos-rest-aiohttp/docs/index.md
  packages/plugins/minos-rest-aiohttp/docs/make.bat
  packages/plugins/minos-rest-aiohttp/docs/readme.md
  packages/plugins/minos-rest-aiohttp/docs/runthetests.md
  packages/plugins/minos-rest-aiohttp/docs/usage.md
  packages/plugins/minos-rest-aiohttp/docs/usage.rst
  packages/plugins/minos-rest-aiohttp/pyproject.toml
  packages/plugins/minos-rest-aiohttp/tests/test_plugins/test_rest_aiohttp/utils.py
  packages/plugins/minos-rest-aiohttp/tests/test_rest_aiohttp/__init__.py
  packages/plugins/minos-rest-aiohttp/tests/test_rest_aiohttp/test_handlers.py
  packages/plugins/minos-rest-aiohttp/tests/test_rest_aiohttp/test_requests.py
  packages/plugins/minos-rest-aiohttp/tests/test_rest_aiohttp/test_services.py
  packages/plugins/minos-rest-aiohttp/tests/utils.py
Due: none

ISSUE #148 * Fix code duplication.
  packages/plugins/minos-rest-aiohttp/poetry.lock
  packages/plugins/minos-rest-aiohttp/tests/services/commands.py
  packages/plugins/minos-rest-aiohttp/tests/services/queries.py
  packages/plugins/minos-rest-aiohttp/tests/test_config.yml
  packages/plugins/minos-rest-aiohttp/tests/utils.py
Due: none

ISSUE #149
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/abc.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/graphiql.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/graphql.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/schema.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/schemas/schema_hello.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/services.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/templates/graphiql.html
  packages/plugins/minos-graphql-aiohttp/poetry.lock
  packages/plugins/minos-graphql-aiohttp/pyproject.toml
Due: none

ISSUE #149
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/graphql_example.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/graphiql.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/services.py
Due: none

Restyled by black
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/abc.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/graphiql.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/graphql.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/schema.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/schemas/schema_hello.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/services.py
Due: none

Restyled by isort
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/abc.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/graphiql.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/graphql.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/schema.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/schemas/schema_hello.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/services.py
Due: none

ISSUE #281 * Start using `uvloop`.
  packages/core/minos-microservice-common/poetry.lock
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
  poetry.lock
Due: minos-microservice-common-check

updated poetry with aggregate package 0.5.4
  tutorials/eboutique/microservices/cart/poetry.lock
  tutorials/eboutique/microservices/cart/src/aggregates.py
  tutorials/eboutique/microservices/cart/tests/test_cart_microservice.py
  tutorials/eboutique/microservices/product/poetry.lock
Due: tutorial-eboutique

ISSUE #209 * Add `routers` section to `MinosConfig`.
  packages/core/minos-microservice-common/minos/common/configuration/config.py
  packages/core/minos-microservice-common/tests/test_common/test_configuration/test_config.py
  packages/core/minos-microservice-common/tests/test_config.yml
Due: minos-microservice-common-check

ISSUE #209 * Add `get_internal_modules` function.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/importlib.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_importlib.py
Due: minos-microservice-common-check

ISSUE #209 * Fix bug that did not handle exceptions during injections building.
  packages/core/minos-microservice-common/minos/common/injectors.py
  packages/core/minos-microservice-common/tests/test_common/test_injectors.py
Due: minos-microservice-common-check

ISSUE #209 * Minor improvements.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/importlib.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_importlib.py
Due: minos-microservice-common-check

ISSUE #209 * Update `poetry.lock`.
  poetry.lock
Due: none

ISSUE #209 * Add `EnrouteBuilder.get_all`.
  packages/core/minos-microservice-networks/minos/networks/decorators/builders.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_builders.py
Due: minos-microservice-networks-check

ISSUE #209 * Add `HttpEnrouteDecorator`.
  packages/core/minos-microservice-networks/minos/networks/decorators/__init__.py
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/__init__.py
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/http/__init__.py
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/http/abc.py
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/http/rest.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_definitions/test_http/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_definitions/test_http/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_definitions/test_http/test_rest.py
Due: minos-microservice-networks-check

ISSUE #209 * Add register and unregister logic for `Enroute`.
  packages/core/minos-microservice-networks/minos/networks/decorators/api.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_api.py
Due: minos-microservice-networks-check

ISSUE #209 * Minor improvement.
  packages/core/minos-microservice-networks/minos/networks/decorators/api.py
Due: minos-microservice-networks-check

ISSUE #209 * Add `Port` base class.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/ports.py
  packages/core/minos-microservice-networks/minos/networks/ports.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/__init__.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_handlers/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_ports.py
Due: minos-microservice-networks-check

ISSUE #209 * Add `minos.networks.routers` module.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/routers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_routers.py
Due: minos-microservice-networks-check

updates services
  tutorials/eboutique/microservices/cart/src/queries/services.py
  tutorials/eboutique/microservices/cart/tests/test_cart_microservice.py
Due: tutorial-eboutique

Restyled by black
  tutorials/eboutique/microservices/cart/src/queries/services.py
Due: tutorial-eboutique

Restyled by isort
  tutorials/eboutique/microservices/cart/src/queries/services.py
Due: tutorial-eboutique

ISSUE #209 * Add `SystemService`.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/decorators/analyzers.py
  packages/core/minos-microservice-networks/minos/networks/system/__init__.py
  packages/core/minos-microservice-networks/minos/networks/system/services.py
  packages/core/minos-microservice-networks/tests/test_networks/test_system/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_system/test_services.py
Due: minos-microservice-networks-check

ISSUE #149
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/abc.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/graphql.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/requests.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/responses.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/schema.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/schemas/schema_hello.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/star_wars_example/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/star_wars_example/data.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/star_wars_example/schema.py
  packages/plugins/minos-graphql-aiohttp/poetry.lock
  packages/plugins/minos-graphql-aiohttp/pyproject.toml
  packages/plugins/minos-graphql-aiohttp/tests/test_plugins/test_graphql_aiohttp/test_handlers.py
  packages/plugins/minos-graphql-aiohttp/tests/test_plugins/test_graphql_aiohttp/test_requests.py
  packages/plugins/minos-graphql-aiohttp/tests/test_plugins/test_graphql_aiohttp/test_services.py
Due: none

ISSUE #209 * Add `minos.networks.http` module.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/http/abc.py
  packages/core/minos-microservice-networks/minos/networks/http/__init__.py
  packages/core/minos-microservice-networks/minos/networks/http/adapters.py
  packages/core/minos-microservice-networks/minos/networks/http/applications.py
  packages/core/minos-microservice-networks/minos/networks/http/ports.py
  packages/core/minos-microservice-networks/minos/networks/http/requests.py
  packages/core/minos-microservice-networks/minos/networks/routers.py
  packages/core/minos-microservice-networks/tests/services/commands.py
  packages/core/minos-microservice-networks/tests/services/queries.py
  packages/core/minos-microservice-networks/tests/test_config.yml
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_api.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_builders.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_definitions/test_http/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_adapters.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_application.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_requests.py
  packages/core/minos-microservice-networks/tests/test_networks/test_routers.py
  packages/core/minos-microservice-networks/tests/utils.py
Due: minos-microservice-networks-check

ISSUE #209 * Refactor aiohttp plugin.
  packages/plugins/minos-rest-aiohttp/minos/plugins/rest_aiohttp/__init__.py
  packages/plugins/minos-rest-aiohttp/minos/plugins/rest_aiohttp/connectors.py
  packages/plugins/minos-rest-aiohttp/minos/plugins/rest_aiohttp/exceptions.py
  packages/plugins/minos-rest-aiohttp/minos/plugins/rest_aiohttp/handlers.py
  packages/plugins/minos-rest-aiohttp/minos/plugins/rest_aiohttp/requests.py
  packages/plugins/minos-rest-aiohttp/minos/plugins/rest_aiohttp/responses.py
  packages/plugins/minos-rest-aiohttp/minos/plugins/rest_aiohttp/services.py
  packages/plugins/minos-rest-aiohttp/tests/test_config.yml
  packages/plugins/minos-rest-aiohttp/tests/test_rest_aiohttp/test_connectors.py
  packages/plugins/minos-rest-aiohttp/tests/test_rest_aiohttp/test_requests.py
  packages/plugins/minos-rest-aiohttp/tests/test_rest_aiohttp/test_services.py
  packages/plugins/minos-rest-aiohttp/tests/utils.py
Due: none

ISSUE #209 * Rename `HttpApplication` as `HttpConnector`.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/http/__init__.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/minos/networks/http/ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_connectors.py
  packages/core/minos-microservice-networks/tests/utils.py
  packages/plugins/minos-rest-aiohttp/minos/plugins/rest_aiohttp/connectors.py
  packages/plugins/minos-rest-aiohttp/tests/test_rest_aiohttp/test_connectors.py
Due: minos-microservice-networks-check

ISSUE #209 * Rename `minos.plugins.rest_aiohttp` as `minos.plugins.aiohttp`.
  packages/plugins/minos-rest-aiohttp/docs/conf.py
  packages/plugins/minos-rest-aiohttp/minos/plugins/aiohttp/__init__.py
  packages/plugins/minos-rest-aiohttp/minos/plugins/aiohttp/connectors.py
  packages/plugins/minos-rest-aiohttp/minos/plugins/aiohttp/requests.py
  packages/plugins/minos-rest-aiohttp/tests/test_aiohttp/__init__.py
  packages/plugins/minos-rest-aiohttp/tests/test_aiohttp/test_connectors.py
  packages/plugins/minos-rest-aiohttp/tests/test_aiohttp/test_requests.py
Due: none

ISSUE #209 * Rename `minos.plugins.rest_aiohttp` as `minos.plugins.aiohttp`.
  .github/workflows/minos-http-aiohttp-publish.yml
  .github/workflows/minos-http-aiohttp-tests.yml
  .pre-commit-config.yaml
  README.md
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/http/__init__.py
  packages/core/minos-microservice-networks/minos/networks/http/ports.py
  packages/core/minos-microservice-networks/minos/networks/http/requests.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_requests.py
  packages/plugins/minos-http-aiohttp/AUTHORS.md
  packages/plugins/minos-http-aiohttp/HISTORY.md
  packages/plugins/minos-http-aiohttp/LICENSE
  packages/plugins/minos-http-aiohttp/Makefile
  packages/plugins/minos-http-aiohttp/README.md
  packages/plugins/minos-http-aiohttp/RUNTHETESTS.md
  packages/plugins/minos-http-aiohttp/SETUP.md
  packages/plugins/minos-http-aiohttp/docs/Makefile
  packages/plugins/minos-http-aiohttp/docs/authors.md
  packages/plugins/minos-http-aiohttp/docs/conf.py
  packages/plugins/minos-http-aiohttp/docs/history.md
  packages/plugins/minos-http-aiohttp/docs/index.md
  packages/plugins/minos-http-aiohttp/docs/readme.md
  packages/plugins/minos-http-aiohttp/docs/runthetests.md
  packages/plugins/minos-http-aiohttp/docs/usage.md
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/__init__.py
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/connectors.py
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/requests.py
  packages/plugins/minos-http-aiohttp/poetry.lock
  packages/plugins/minos-http-aiohttp/poetry.toml
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-http-aiohttp/setup.cfg
  packages/plugins/minos-http-aiohttp/tests/__init__.py
  packages/plugins/minos-http-aiohttp/tests/test_aiohttp/__init__.py
  packages/plugins/minos-http-aiohttp/tests/test_aiohttp/test_connectors.py
  packages/plugins/minos-http-aiohttp/tests/test_aiohttp/test_requests.py
  packages/plugins/minos-http-aiohttp/tests/test_config.yml
  packages/plugins/minos-http-aiohttp/tests/utils.py
  poetry.lock
  pyproject.toml
Due: minos-microservice-networks-check

ISSUE #209 * Fix renaming bug.
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_ports.py
Due: minos-microservice-networks-check

ISSUE #149 * Rename `graphql_aiohttp` as `graphql`. * Add `GraphQlEnrouteDecorator` and `GraphQlHttpRouter`.
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/decorators.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/exceptions.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/handlers/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/handlers/abc.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/handlers/graphiql.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/handlers/graphql.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/main.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/routers.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/services.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/star_wars_example/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/star_wars_example/data.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/star_wars_example/schema.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql/templates/graphiql.html
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/__init__.py
  packages/plugins/minos-graphql-aiohttp/minos/plugins/graphql_aiohttp/handlers/graphiql.py
Due: none

ISSUE #149 * Move to a plugin
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/graphql.py
Due: minos-microservice-networks-check

ISSUE #149 * Add test_something.
  packages/plugins/minos-router-graphql/poetry.lock
  packages/plugins/minos-router-graphql/tests/test_graphql/__init__.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_something.py
  packages/plugins/minos-router-graphql/tests/test_plugins/test_graphql_aiohttp/utils.py
  packages/plugins/minos-router-graphql/tests/utils.py
Due: none

ISSUE #149 * Revert commit.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/decorators/analyzers.py
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/kinds.py
  packages/core/minos-microservice-networks/tests/services/graphql.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_analyzers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_api.py
  packages/core/minos-microservice-networks/tests/utils.py
Due: minos-microservice-networks-check

ISSUE #149 * Revert commit (2).
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_analyzers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_api.py
Due: minos-microservice-networks-check

ISSUE #209 * Now `mount_routes` is not a private method.
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_connectors.py
Due: minos-microservice-networks-check

ISSUE #209 * Increase coverage. * Minor improvements.
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_http/test_connectors.py
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/connectors.py
  packages/plugins/minos-http-aiohttp/tests/test_aiohttp/test_connectors.py
Due: minos-microservice-networks-check

added shipping service
  tutorials/eboutique/microservices/shipping/.dockerignore
  tutorials/eboutique/microservices/shipping/.minos-answers.yml
  tutorials/eboutique/microservices/shipping/.minos-microservice.yaml
  tutorials/eboutique/microservices/shipping/Dockerfile
  tutorials/eboutique/microservices/shipping/README.md
  tutorials/eboutique/microservices/shipping/config.yml
  tutorials/eboutique/microservices/shipping/poetry.lock
  tutorials/eboutique/microservices/shipping/poetry.toml
  tutorials/eboutique/microservices/shipping/pyproject.toml
  tutorials/eboutique/microservices/shipping/setup.cfg
  tutorials/eboutique/microservices/shipping/src/__init__.py
  tutorials/eboutique/microservices/shipping/src/__main__.py
  tutorials/eboutique/microservices/shipping/src/aggregates.py
  tutorials/eboutique/microservices/shipping/src/cli.py
  tutorials/eboutique/microservices/shipping/src/commands/__init__.py
  tutorials/eboutique/microservices/shipping/src/commands/services.py
  tutorials/eboutique/microservices/shipping/src/queries/__init__.py
  tutorials/eboutique/microservices/shipping/src/queries/services.py
  tutorials/eboutique/microservices/shipping/tests/__init__.py
  tutorials/eboutique/microservices/shipping/tests/test_aggregates.py
  tutorials/eboutique/microservices/shipping/tests/test_commands/__init__.py
  tutorials/eboutique/microservices/shipping/tests/test_commands/test_services.py
  tutorials/eboutique/microservices/shipping/tests/test_queries/__init__.py
  tutorials/eboutique/microservices/shipping/tests/test_queries/test_services.py
  tutorials/eboutique/microservices/shipping/tests/utils.py
Due: tutorial-eboutique

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  tutorial-eboutique: any of: ^tutorials/eboutique/
