Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, tutorial-eboutique

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

tutorial-eboutique:
  pass_filenames: false
  entry: make --directory=tutorials/eboutique check
  name: Check tutorial eboutique
  language: system

ISSUE #150 * Remove `get_ports` in favor of `get_interfaces`.
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
  packages/core/minos-microservice-common/tests/test_config.yml
  packages/core/minos-microservice-common/tests/utils.py
Due: minos-microservice-common-check

modified internal info
  tutorials/eboutique/microservices/notifier/src/commands/services.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
Due: tutorial-eboutique

ISSUE #150 * Improve how config file path is set on tests.
  packages/core/minos-microservice-common/tests/config/v1.yml
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_with_env.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_locks.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_injectors.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_setup.py
  packages/core/minos-microservice-common/tests/utils.py
Due: minos-microservice-common-check

ISSUE #150 * Be compatible with latest `Config` interface.
  packages/core/minos-microservice-common/minos/common/config/v2.py
Due: minos-microservice-common-check

ISSUE #150 * Fix broken tests.
  packages/core/minos-microservice-networks/tests/test_config.yml
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_clients.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_dispatchers/test_impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_handlers/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_pools.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_schedulers.py
  packages/core/minos-microservice-networks/tests/utils.py
  packages/plugins/minos-broker-kafka/tests/test_config.yml
  packages/plugins/minos-http-aiohttp/tests/test_config.yml
Due: minos-microservice-networks-check, minos-broker-kafka-check

ISSUE #150 * Minor improvements.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_with_postgresql.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_api.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_queries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_services.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_services.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_storage.py
  packages/core/minos-microservice-saga/tests/test_saga/test_manager.py
  packages/core/minos-microservice-saga/tests/test_saga/test_services.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-saga-check

ISSUE #150 * Add `get_default_database`.
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_with_env.py
Due: minos-microservice-common-check

ISSUE #150 * Add `v2.yml`.
  packages/core/minos-microservice-common/tests/config/v2.yml
  packages/core/minos-microservice-common/tests/utils.py
Due: minos-microservice-common-check

ISSUE #150 * Add tests structure.
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/__init__.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
Due: minos-microservice-common-check

ISSUE #150 * Improve tests.
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_with_env.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
Due: minos-microservice-common-check

ISSUE #150 * Fix path typo.
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
Due: minos-microservice-common-check

ISSUE #150 * Minor improvement.
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
Due: minos-microservice-common-check

ISSUE #150 * Working on `ConfigV2`.
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
Due: minos-microservice-common-check

ISSUE #150 * Add `BuildableMixin`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/builders.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
Due: minos-microservice-common-check, minos-microservice-networks-check, minos-broker-kafka-check

ISSUE #150 * Now `InjectableMixin` inherit from `SetupMixin`.
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-common/minos/common/injections/mixins.py
  packages/core/minos-microservice-common/minos/common/setup.py
Due: minos-microservice-common-check

ISSUE #209 * Rename `EnrouteBuilder` as `EnrouteFactory`. * Rename `EnrouteAnalyzer` as `EnrouteCollector`.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
  packages/core/minos-microservice-networks/minos/networks/decorators/__init__.py
  packages/core/minos-microservice-networks/minos/networks/decorators/collectors.py
  packages/core/minos-microservice-networks/minos/networks/decorators/factories.py
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-networks/minos/networks/routers.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/schedulers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_collectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_factories.py
  packages/core/minos-microservice-networks/tests/test_networks/test_routers.py
  packages/core/minos-microservice-networks/tests/test_networks/test_system/test_services.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_decorators.py
Due: minos-microservice-networks-check

ISSUE #150 * Minor improvements.
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/tests/config/v1.yml
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_decorators.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
Due: minos-microservice-common-check

- Added docker-compose.yml
  packages/plugins/minos-broker-rabbitmq/tests/docker-compose.yml
Due: none

ISSUE #150 * Increase coverage.
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_decorators.py
Due: minos-microservice-common-check

ISSUE #150 * Add missing docstring.
  packages/core/minos-microservice-common/minos/common/builders.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
Due: minos-microservice-common-check

added payment microservice
  tutorials/eboutique/docker-compose.yml
  tutorials/eboutique/external/postgres/10-create-database.sql
  tutorials/eboutique/microservices/payment/.dockerignore
  tutorials/eboutique/microservices/payment/.minos-answers.yml
  tutorials/eboutique/microservices/payment/.minos-microservice.yaml
  tutorials/eboutique/microservices/payment/Dockerfile
  tutorials/eboutique/microservices/payment/README.md
  tutorials/eboutique/microservices/payment/config.yml
  tutorials/eboutique/microservices/payment/playbooks/coverage.yaml
  tutorials/eboutique/microservices/payment/playbooks/create-database.yaml
  tutorials/eboutique/microservices/payment/playbooks/deploy.yaml
  tutorials/eboutique/microservices/payment/playbooks/install.yaml
  tutorials/eboutique/microservices/payment/playbooks/lint.yaml
  tutorials/eboutique/microservices/payment/playbooks/lock.yaml
  tutorials/eboutique/microservices/payment/playbooks/reformat.yaml
  tutorials/eboutique/microservices/payment/playbooks/test.yaml
  tutorials/eboutique/microservices/payment/playbooks/update.yaml
  tutorials/eboutique/microservices/payment/poetry.lock
  tutorials/eboutique/microservices/payment/poetry.toml
  tutorials/eboutique/microservices/payment/pyproject.toml
  tutorials/eboutique/microservices/payment/setup.cfg
  tutorials/eboutique/microservices/payment/src/__init__.py
  tutorials/eboutique/microservices/payment/src/__main__.py
  tutorials/eboutique/microservices/payment/src/aggregates.py
  tutorials/eboutique/microservices/payment/src/cli.py
  tutorials/eboutique/microservices/payment/src/commands/__init__.py
  tutorials/eboutique/microservices/payment/src/commands/services.py
  tutorials/eboutique/microservices/payment/src/queries/__init__.py
  tutorials/eboutique/microservices/payment/src/queries/models.py
  tutorials/eboutique/microservices/payment/src/queries/repository.py
  tutorials/eboutique/microservices/payment/src/queries/services.py
  tutorials/eboutique/microservices/payment/tests/__init__.py
  tutorials/eboutique/microservices/payment/tests/test_commands/__init__.py
  tutorials/eboutique/microservices/payment/tests/test_commands/test_services.py
  tutorials/eboutique/microservices/payment/tests/test_queries/__init__.py
  tutorials/eboutique/microservices/payment/tests/test_queries/test_services.py
  tutorials/eboutique/microservices/payment/tests/utils.py
Due: tutorial-eboutique

ISSUE #? * Fix bug related with dependency injections.
  tutorials/eboutique/microservices/payment/tests/test_commands/test_services.py
Due: tutorial-eboutique

Restyled by black
  tutorials/eboutique/microservices/payment/src/__init__.py
  tutorials/eboutique/microservices/payment/src/__main__.py
  tutorials/eboutique/microservices/payment/src/aggregates.py
  tutorials/eboutique/microservices/payment/src/cli.py
  tutorials/eboutique/microservices/payment/src/commands/__init__.py
  tutorials/eboutique/microservices/payment/src/commands/services.py
  tutorials/eboutique/microservices/payment/src/queries/__init__.py
  tutorials/eboutique/microservices/payment/src/queries/models.py
  tutorials/eboutique/microservices/payment/src/queries/repository.py
  tutorials/eboutique/microservices/payment/src/queries/services.py
  tutorials/eboutique/microservices/payment/tests/test_queries/test_services.py
Due: tutorial-eboutique

Restyled by isort
  tutorials/eboutique/microservices/payment/src/cli.py
  tutorials/eboutique/microservices/payment/src/queries/__init__.py
  tutorials/eboutique/microservices/payment/src/queries/models.py
  tutorials/eboutique/microservices/payment/src/queries/repository.py
  tutorials/eboutique/microservices/payment/src/queries/services.py
  tutorials/eboutique/microservices/payment/tests/test_commands/test_services.py
Due: tutorial-eboutique

- Fixed send test.
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
Due: none

ISSUE #150 * Improve `BrokerSubscriberBuilder`.
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_impl.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
Due: minos-microservice-networks-check, minos-broker-kafka-check

ISSUE #150 * Fix bug related with not `broker` interface on config.
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
Due: minos-microservice-networks-check

ISSUE #150 * Refactor `Builder` class.
  packages/core/minos-microservice-common/minos/common/builders.py
  packages/core/minos-microservice-common/tests/test_common/test_builders.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/utils.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_utils.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
Due: minos-microservice-common-check, minos-microservice-networks-check, minos-broker-kafka-check

ISSUE #150 * Deprecate `QueuedBrokerSubscriberBuilder` class.
  packages/core/minos-microservice-common/minos/common/builders.py
  packages/core/minos-microservice-common/tests/test_common/test_builders.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/detectors/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/idempotent/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/memory.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/utils.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_utils.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
Due: minos-microservice-common-check, minos-microservice-networks-check, minos-broker-kafka-check

ISSUE #150 * Fix bug related with builder construction.
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/impl.py
Due: minos-microservice-networks-check

- Fixed tests. - Added integration_tests.py.
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/docker-compose.yml
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/integration_tests.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
Due: none

ISSUE #150 * Improve `Builder` class.
  packages/core/minos-microservice-common/minos/common/builders.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/abc.py
Due: minos-microservice-common-check, minos-microservice-networks-check

- Added GitHub action.
  .github/workflows/minos-broker-rabbitmq-tests.yml
Due: none

Restyled by black
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
Due: none

Restyled by isort
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/__init__.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/publisher.py
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/subscriber.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/integration_tests.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_publisher.py
  packages/plugins/minos-broker-rabbitmq/tests/test_rabbitmq/test_subscriber.py
Due: none

ISSUE #150 * Add `BrokerPublisherBuilder`.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/__init__.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/common.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/mixins.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
Due: minos-microservice-networks-check, minos-broker-kafka-check

ISSUE #150 * Add support for environment and parameterized variables.
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_with_env.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_with_env.py
Due: minos-microservice-common-check

- Reverted launcher.
  packages/core/minos-microservice-common/minos/common/launchers.py
Due: minos-microservice-common-check

Restyled by isort
  packages/core/minos-microservice-common/minos/common/launchers.py
Due: minos-microservice-common-check

ISSUE #150 * Increase coverage. * Minor improvements.
  packages/core/minos-microservice-common/minos/common/builders.py
  packages/core/minos-microservice-common/tests/test_common/test_builders.py
Due: minos-microservice-common-check

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  tutorial-eboutique: any of: ^tutorials/eboutique/
