Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, tutorial-eboutique

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:

            -   id: minos-microservice-aggregate-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-aggregate check
                name: Check minos-microservice-aggregate
                files: ^packages/core/minos-microservice-aggregate/
                language: system

            -   id: minos-microservice-common-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-common check
                name: Check minos-microservice-common
                files: ^packages/core/minos-microservice-common/
                language: system

            -   id: minos-microservice-cqrs-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-cqrs check
                name: Check minos-microservice-cqrs
                files: ^packages/core/minos-microservice-cqrs/
                language: system

            -   id: minos-microservice-networks-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-networks check
                name: Check minos-microservice-networks
                files: ^packages/core/minos-microservice-networks/
                language: system

            -   id: minos-microservice-saga-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-saga check
                name: Check minos-microservice-saga
                files: ^packages/core/minos-microservice-saga/
                language: system

            -   id: minos-broker-kafka-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-kafka check
                name: Check minos-broker-kafka
                files: ^packages/plugins/minos-broker-kafka/
                language: system

            -   id: tutorial-eboutique
                pass_filenames: false
                entry: make --directory=tutorials/eboutique check
                name: Check tutorial eboutique
                files: ^tutorials/eboutique/
                language: system

Restyled by isort
  packages/plugins/minos-router-graphql/tests/test_graphql/test_builders/test_schema.py
Due: none

ISSUE #150 * Rename `minos.common.mixins` as `minos.common.retries`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/retries.py
  packages/core/minos-microservice-common/tests/test_common/test_retries.py
Due: minos-microservice-common-check

ISSUE #149
  packages/plugins/minos-router-graphql/README.md
  packages/plugins/minos-router-graphql/docs/index.md
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
Due: none

ISSUE #150 * Add `InjectableMixin`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/injections/__init__.py
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-common/minos/common/injections/mixins.py
  packages/core/minos-microservice-common/minos/common/locks.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_base.py
Due: minos-microservice-common-check

ISSUE #150 * Start using `LockPool` and `DeclarativeModel`.
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/tests/model_classes.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check, minos-microservice-saga-check

ISSUE #150 * Remove unused import.
  packages/core/minos-microservice-common/minos/common/locks.py
Due: minos-microservice-common-check

ISSUE #150 * Minor renaming
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
Due: minos-microservice-common-check

modified the wallet
  tutorials/stock-wallet/external/postgres/Dockerfile
  tutorials/stock-wallet/external/postgres/create-multiple-postgresql-databases.sh
  tutorials/stock-wallet/external/postgres/init/10-create-database.sql
  tutorials/stock-wallet/microservices/wallet/config.yml
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/queries/models.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/src/queries/services.py
  tutorials/stock-wallet/microservices/wallet/tests/test_aggregates.py
  tutorials/stock-wallet/microservices/wallet/tests/test_commands/test_services.py
  tutorials/stock-wallet/microservices/wallet/tests/utils.py
Due: none

Restyled by black
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/queries/models.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/src/queries/services.py
  tutorials/stock-wallet/microservices/wallet/tests/test_commands/test_services.py
Due: none

Restyled by isort
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/queries/models.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/src/queries/services.py
Due: none

ISSUE #? * Replace `ClientResponseError` by `ClientError`.
  packages/plugins/minos-discovery-minos/minos/plugins/minos_discovery/client.py
Due: none

working on wallet query service and reformat the aggregate
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/src/queries/services.py
Due: none

ISSUE #150 * Minor changes.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
Due: minos-microservice-common-check

ISSUE #150 * Increase coverage.
  packages/core/minos-microservice-common/minos/common/config.py
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_injectors.py
Due: minos-microservice-common-check

ISSUE #150 * Increase coverage (2).
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/minos/common/injections/mixins.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_decorators.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_mixins.py
Due: minos-microservice-common-check

ISSUE #150 * Add initial implementation of "Inject".
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/injections/__init__.py
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-common/minos/common/setup.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_injectors.py
Due: minos-microservice-common-check

ISSUE #150 * Remove unused imports.
  packages/core/minos-microservice-common/minos/common/setup.py
Due: minos-microservice-common-check

ISSUE #150 * Minor improvements.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
Due: minos-microservice-common-check

Restyled by black
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/src/queries/services.py
Due: none

ISSUE #150 * Improve the `Inject` class.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
Due: minos-microservice-common-check

ISSUE #150 * Remove the `dependency-injector` dependency in favor of the `@Inject` decorator.
  packages/core/minos-microservice-aggregate/minos/aggregate/aggregate.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/resolvers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/memory.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/writers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/services.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/services.py
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
Due: minos-microservice-aggregate-check

ISSUE #150 * Minor change.
  packages/core/minos-microservice-common/minos/common/setup.py
Due: minos-microservice-common-check

ISSUE #150 * Remove the `dependency-injector` dependency in favor of the `@Inject` decorator.
  packages/core/minos-microservice-saga/minos/saga/executions/commit.py
  packages/core/minos-microservice-saga/minos/saga/executions/executors/request.py
  packages/core/minos-microservice-saga/minos/saga/manager.py
  packages/core/minos-microservice-saga/minos/saga/services.py
  packages/core/minos-microservice-saga/minos/saga/utils.py
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
Due: minos-microservice-saga-check

ISSUE #150 * Remove the `dependency-injector` dependency in favor of the `@Inject` decorator.
  packages/core/minos-microservice-networks/minos/networks/brokers/clients.py
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/impl.py
  packages/core/minos-microservice-networks/minos/networks/http/ports.py
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
Due: minos-microservice-networks-check

modified code for wallet
  tutorials/stock-wallet/microservices/wallet/src/__init__.py
  tutorials/stock-wallet/microservices/wallet/src/queries/models.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/src/queries/services.py
  tutorials/stock-wallet/microservices/wallet/tests/test_queries/test_services.py
Due: none

ISSUE #150 * Rename `wire` as `wire_and_setup`. * Rename `unwire` as `unwire_and_destroy`.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/testcases/event_repository.py
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/injections/injectors.py
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_injectors.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_setup.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #? * Add missing attribute.
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
Due: none

ISSUE #? * Fix bug related with `WalletQueryServiceRepository`
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
  tutorials/stock-wallet/microservices/wallet/tests/test_queries/test_repositories.py
Due: none

updated values for aggregate
  tutorials/stock-wallet/microservices/wallet/poetry.lock
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/tests/test_commands/test_services.py
  tutorials/stock-wallet/microservices/wallet/tests/test_queries/test_services.py
Due: none

ISSUE #150 * Fix `TestPreEventHandler`.
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_handlers.py
Due: minos-microservice-cqrs-check

ISSUE #150 * Rename `MinosPool` as `Pool`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/locks.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_pools.py
  packages/core/minos-microservice-networks/minos/networks/brokers/pools.py
Due: minos-microservice-common-check, minos-microservice-networks-check

ISSUE #150 * Fix `TestService`.
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_services.py
Due: minos-microservice-cqrs-check

ISSUE #150 * Remove `dependency_injector` dependencies.
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_declarative/test_avro.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_serializers/test_avro/test_data/test_decoder.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-saga-check

ISSUE #150 * Remove `dependency_injector` from `minos-microservice-cqrs`.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-cqrs/minos/cqrs/services.py
  packages/core/minos-microservice-cqrs/poetry.lock
  packages/core/minos-microservice-cqrs/pyproject.toml
Due: minos-microservice-common-check, minos-microservice-cqrs-check

ISSUE #150 * Minor change.
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/entries.py
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-cqrs/minos/cqrs/services.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check

ISSUE #150 * Increase coverage.
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_decorators.py
Due: minos-microservice-common-check

ISSUE #150 * Improve `Inject`.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_decorators.py
Due: minos-microservice-common-check

ISSUE #150 * Fix bug related with generic.
  packages/core/minos-microservice-common/minos/common/pools.py
Due: minos-microservice-common-check

ISSUE #150 * Reformat code.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_decorators.py
Due: minos-microservice-common-check

ISSUE #149 * Add description message. * Add type hints.
  packages/plugins/minos-router-graphql/minos/plugins/graphql/builders/schema.py
Due: none
