Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, tutorial-eboutique

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:

            -   id: minos-microservice-aggregate-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-aggregate check
                name: Check minos-microservice-aggregate
                files: ^packages/core/minos-microservice-aggregate/
                language: system

            -   id: minos-microservice-common-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-common check
                name: Check minos-microservice-common
                files: ^packages/core/minos-microservice-common/
                language: system

            -   id: minos-microservice-cqrs-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-cqrs check
                name: Check minos-microservice-cqrs
                files: ^packages/core/minos-microservice-cqrs/
                language: system

            -   id: minos-microservice-networks-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-networks check
                name: Check minos-microservice-networks
                files: ^packages/core/minos-microservice-networks/
                language: system

            -   id: minos-microservice-saga-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-saga check
                name: Check minos-microservice-saga
                files: ^packages/core/minos-microservice-saga/
                language: system

            -   id: minos-broker-kafka-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-kafka check
                name: Check minos-broker-kafka
                files: ^packages/plugins/minos-broker-kafka/
                language: system

            -   id: tutorial-eboutique
                pass_filenames: false
                entry: make --directory=tutorials/eboutique check
                name: Check tutorial eboutique
                files: ^tutorials/eboutique/
                language: system

* Now `port` is not a mandatory field in config.
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/minos/common/launchers.py
Due: minos-microservice-common-check

* Propagate exception to `graceful_shutdown`
  packages/core/minos-microservice-common/minos/common/launchers.py
Due: minos-microservice-common-check

* Fix bugs related with concurrency on `EntrypointLauncher.launch`.
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/minos/common/ports.py
  packages/core/minos-microservice-common/tests/test_common/test_ports.py
  packages/core/minos-microservice-common/tests/utils.py
Due: minos-microservice-common-check

* Improve log messages.
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/schedulers.py
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/connectors.py
Due: minos-microservice-networks-check

* Add link to the "minos-framework/roadmap" repository.
  README.md
Due: none

* Rename `BrokerHandlerPort` as `BrokerPort`. * Rename `PeriodicTaskSchedulerPort` as `PeriodicPort`.
  README.md
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/ports.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/__init__.py
  packages/core/minos-microservice-networks/minos/networks/scheduling/ports.py
  packages/core/minos-microservice-networks/tests/test_config.yml
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_handlers/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_ports.py
  packages/plugins/minos-broker-kafka/README.md
  packages/plugins/minos-broker-kafka/tests/test_config.yml
  packages/plugins/minos-broker-rabbitmq/README.md
  packages/plugins/minos-broker-rabbitmq/tests/test_config.yml
Due: minos-microservice-networks-check, minos-broker-kafka-check

Restyled by black
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_handlers/test_ports.py
Due: minos-microservice-networks-check

Restyled by isort
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_handlers/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_ports.py
Due: minos-microservice-networks-check

* Replace "http://minos.run" by "https://minos.run".
  README.md
  packages/core/minos-microservice-aggregate/README.md
  packages/core/minos-microservice-common/README.md
  packages/core/minos-microservice-cqrs/README.md
  packages/core/minos-microservice-networks/README.md
  packages/core/minos-microservice-saga/README.md
  packages/plugins/minos-broker-kafka/README.md
  packages/plugins/minos-broker-rabbitmq/README.md
  packages/plugins/minos-discovery-minos/README.md
  packages/plugins/minos-http-aiohttp/README.md
  packages/plugins/minos-router-graphql/README.md
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check

updated docker compose
  tutorials/stock-wallet/docker-compose.yml.copy
  tutorials/stock-wallet/microservices/crypto/config.yml
  tutorials/stock-wallet/microservices/crypto/src/commands/services.py
  tutorials/stock-wallet/microservices/crypto/src/queries/services.py
  tutorials/stock-wallet/microservices/stocks/config.yml
  tutorials/stock-wallet/microservices/wallet/config.yml
Due: none

commented stocks events update
  tutorials/stock-wallet/microservices/stocks/src/queries/services.py
Due: none

Restyled by black
  tutorials/stock-wallet/microservices/crypto/src/__init__.py
  tutorials/stock-wallet/microservices/crypto/src/__main__.py
  tutorials/stock-wallet/microservices/crypto/src/aggregates.py
  tutorials/stock-wallet/microservices/crypto/src/cli.py
  tutorials/stock-wallet/microservices/crypto/src/commands/__init__.py
  tutorials/stock-wallet/microservices/crypto/src/commands/services.py
  tutorials/stock-wallet/microservices/crypto/src/queries/__init__.py
  tutorials/stock-wallet/microservices/crypto/src/queries/models.py
  tutorials/stock-wallet/microservices/crypto/src/queries/repository.py
  tutorials/stock-wallet/microservices/crypto/tests/test_commands/test_services.py
  tutorials/stock-wallet/microservices/crypto/tests/test_queries/test_services.py
  tutorials/stock-wallet/microservices/stocks/src/aggregates.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
Due: none

Restyled by isort
  tutorials/stock-wallet/microservices/crypto/src/aggregates.py
  tutorials/stock-wallet/microservices/crypto/src/cli.py
  tutorials/stock-wallet/microservices/crypto/src/commands/services.py
  tutorials/stock-wallet/microservices/crypto/src/queries/__init__.py
  tutorials/stock-wallet/microservices/crypto/src/queries/models.py
  tutorials/stock-wallet/microservices/crypto/src/queries/repository.py
  tutorials/stock-wallet/microservices/crypto/src/queries/services.py
  tutorials/stock-wallet/microservices/crypto/tests/test_commands/test_services.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
Due: none

* Minor change.
  Makefile
  packages/plugins/minos-broker-rabbitmq/README.md
  packages/plugins/minos-discovery-minos/README.md
  packages/plugins/minos-http-aiohttp/README.md
  packages/plugins/minos-router-graphql/README.md
Due: none

ISSUE #334 * Fix bug related with incomprehensible error messages related with failures on setup.
  packages/core/minos-microservice-common/minos/common/launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
Due: minos-microservice-common-check

ISSUE #336 * Raise a `StopAsyncIteration` exception when `AIOKafkaConsumer` raises a `ConsumerStoppedError`.
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-broker-kafka-check

ISSUE #336 * Fix bug related with concurrency and a block call on `crypto`. * Replace `warning` by `info`. * Improve containerization process.
  tutorials/stock-wallet/docker-compose.prod.yml
  tutorials/stock-wallet/docker-compose.yml
  tutorials/stock-wallet/microservices/crypto/Dockerfile
  tutorials/stock-wallet/microservices/crypto/src/commands/services.py
  tutorials/stock-wallet/microservices/stocks/Dockerfile
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/Dockerfile
  tutorials/stock-wallet/microservices/wallet/src/aggregates.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
Due: none

Restyled by isort
  tutorials/stock-wallet/microservices/crypto/src/commands/services.py
  tutorials/stock-wallet/microservices/stocks/src/commands/services.py
  tutorials/stock-wallet/microservices/wallet/src/queries/repository.py
Due: none

ISSUE #332 * Improving documentation building process.
  packages/core/minos-microservice-aggregate/docs/conf.py
  packages/core/minos-microservice-aggregate/docs/index.md
  packages/core/minos-microservice-aggregate/docs/readme.md
  packages/core/minos-microservice-common/docs/index.md
  packages/core/minos-microservice-common/docs/readme.md
  packages/core/minos-microservice-cqrs/docs/index.md
  packages/core/minos-microservice-cqrs/docs/readme.md
  packages/core/minos-microservice-networks/docs/index.md
  packages/core/minos-microservice-networks/docs/readme.md
  packages/core/minos-microservice-saga/docs/index.md
  packages/core/minos-microservice-saga/docs/readme.md
  packages/plugins/minos-broker-kafka/docs/index.md
  packages/plugins/minos-broker-kafka/docs/readme.md
  packages/plugins/minos-broker-rabbitmq/docs/index.md
  packages/plugins/minos-broker-rabbitmq/docs/readme.md
  packages/plugins/minos-discovery-minos/docs/index.md
  packages/plugins/minos-discovery-minos/docs/readme.md
  packages/plugins/minos-http-aiohttp/docs/index.md
  packages/plugins/minos-http-aiohttp/docs/readme.md
  packages/plugins/minos-router-graphql/docs/index.md
  packages/plugins/minos-router-graphql/docs/readme.md
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check

ISSUE #336 * Remove unnecessary line.
  tutorials/stock-wallet/docker-compose.prod.yml
Due: none

ISSUE #332 * Minor improvements.
  packages/core/minos-microservice-aggregate/minos/aggregate/queries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/readers.py
Due: minos-microservice-aggregate-check

ISSUE #332 * Working on autodoc
  packages/core/minos-microservice-aggregate/docs/conf.py
  packages/core/minos-microservice-aggregate/docs/index.md
  packages/core/minos-microservice-aggregate/docs/reference.md
Due: minos-microservice-aggregate-check

ISSUE #332 * Properly set namespace.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
Due: minos-microservice-common-check

ISSUE #332 * Improve documentation.
  packages/core/minos-microservice-aggregate/docs/_static/style.css
  packages/core/minos-microservice-aggregate/docs/conf.py
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
Due: minos-microservice-aggregate-check

ISSUE #332 * Update documentation building process.
  packages/core/minos-microservice-aggregate/CHANGELOG.md
  packages/core/minos-microservice-aggregate/docs/_static/style.css
  packages/core/minos-microservice-aggregate/docs/_templates/package.rst_t
  packages/core/minos-microservice-aggregate/docs/changelog.md
  packages/core/minos-microservice-aggregate/docs/conf.py
  packages/core/minos-microservice-aggregate/docs/history.md
  packages/core/minos-microservice-aggregate/docs/index.md
  packages/core/minos-microservice-aggregate/docs/reference.md
  packages/core/minos-microservice-aggregate/minos/aggregate/contextvars.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/contextvars.py
Due: minos-microservice-aggregate-check

ISSUE #332 * Update documentation building process (2).
  packages/core/minos-microservice-aggregate/docs/_static/style.css
  packages/core/minos-microservice-aggregate/docs/conf.py
Due: minos-microservice-aggregate-check

added kong plugin
  packages/plugins/minos-kong/AUTHORS.md
  packages/plugins/minos-kong/HISTORY.md
  packages/plugins/minos-kong/LICENSE
  packages/plugins/minos-kong/Makefile
  packages/plugins/minos-kong/README.md
  packages/plugins/minos-kong/RUNTHETESTS.md
  packages/plugins/minos-kong/SETUP.md
  packages/plugins/minos-kong/docs/Makefile
  packages/plugins/minos-kong/docs/_static/style.css
  packages/plugins/minos-kong/docs/_templates/layout.html
  packages/plugins/minos-kong/docs/authors.md
  packages/plugins/minos-kong/docs/conf.py
  packages/plugins/minos-kong/docs/history.md
  packages/plugins/minos-kong/docs/index.md
  packages/plugins/minos-kong/docs/readme.md
  packages/plugins/minos-kong/docs/runthetests.md
  packages/plugins/minos-kong/docs/usage.md
  packages/plugins/minos-kong/minos/plugins/minos_kong/__init__.py
  packages/plugins/minos-kong/minos/plugins/minos_kong/client.py
  packages/plugins/minos-kong/minos/plugins/minos_kong/utils.py
  packages/plugins/minos-kong/poetry.lock
  packages/plugins/minos-kong/poetry.toml
  packages/plugins/minos-kong/pyproject.toml
  packages/plugins/minos-kong/setup.cfg
  packages/plugins/minos-kong/tests/docker-compose.yml
  packages/plugins/minos-kong/tests/test_minos_discovery/__init__.py
  packages/plugins/minos-kong/tests/test_minos_discovery/test_client.py
Due: none

modified readme
  packages/plugins/minos-kong/README.md
Due: none

updated with regex routes creation
  packages/plugins/minos-kong/minos/plugins/minos_kong/utils.py
  packages/plugins/minos-kong/tests/test_minos_discovery/test_client.py
Due: none

ISSUE #332 * Minor fixes.
  packages/core/minos-microservice-aggregate/docs/conf.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/contextvars.py
Due: minos-microservice-aggregate-check

ISSUE #332 * Minor fixes (2).
  packages/core/minos-microservice-aggregate/docs/index.md
Due: minos-microservice-aggregate-check

ISSUE #332 * Minor fixes (3).
  packages/core/minos-microservice-aggregate/docs/_static/style.css
Due: minos-microservice-aggregate-check

Restyled by black
  packages/core/minos-microservice-aggregate/docs/conf.py
Due: minos-microservice-aggregate-check

Restyled by isort
  packages/core/minos-microservice-aggregate/docs/conf.py
Due: minos-microservice-aggregate-check
